[2018-06-25 23:40] arshajii opened #4 "Parallelism & parallelism syntax"
Parallelism can perhaps be tied to branching. One possible syntax is to have a special _parallel_ pipe operator like `|>(42)` which would use 42 threads to process the previous stage's output.

[2018-06-25 23:49] arshajii opened #5 "Pattern matching"
Typical pattern matching from e.g. OCaml or Rust should be fairly easy to implement.

More interesting is pattern matching for sequence types. Many sequence computations can potentially be expressed with this. For example, a simple hash function:

[code]

[2018-06-26 00:21] arshajii opened #6 "Sample programs and benchmarks"
Ultimately we have to start writing real programs and benchmarking them, both in terms of runtime/memory and code usage.

Potential applications:
- [EMA](https://github.com/arshajii/ema), since we are familiar with the codebase
- Some aligner (e.g. [BWA](https://github.com/lh3/bwa), [SNAP](https://github.com/amplab/snap))
- Some assembler (e.g. [SGA](https://github.com/jts/sga))

We don't necessar

[2018-07-02 20:15] arshajii opened #7 "C/Python/R interoperability"
We require C interoperability, which should be easy to implement using LLVM. Python and R interoperability will likely be harder to implement, but are also essential.

One possibility for language-level syntax:

    extern c  fun my_c_function(n: Int, s: Str) -> Int   # defines external C function
    extern py fun my_py_function(n: Int, s: Str) -> Int  # defines external Python function
    exter

[2018-07-16 15:19] inumanag opened #9 "Language features"
Remaining items (higher priority is at the top):
- [x] **Lexer**
  - [x] Fix escapes ("\n")
- [ ] **Parser & AST**
  - [ ] `[hard]` Better error reporting (i.e. no more "Menhir error")
- [ ] **Compiler**
  - [ ] lambdas
  - [ ] Generics in OCaml
  - [ ] `import from`, `import` scoping
  - [ ] `[hard]` Extern support for Python and R
  - [ ] `[hard]` macros via sexps
- [ ] **Seq/LLVM**
  - [x] `Non

[2018-07-17 18:05] arshajii opened #10 "Bioinformatics features"
Possible bioinformatics features:

  - [x] Sequence pattern matching
    - [ ] Matching against an index
  - [x] Convenient sequence pipelining (splitting, substring, etc.)
  - [x] Easy + fast I/O
  - [ ] Index abstraction (e.g. with caching optimization, frequent-lookups optimization)
  - [ ] Load-balancing parallelism (esp. in the genomics context, where sequence processing time can vary by orde

[2018-07-17 18:40] #5 closed, assigned to nobody

[2018-08-15 17:07] arshajii opened #12 "Hard generics cases"
These are generics corner-cases that seem to be hard to deal with, and currently break the generics system. Will update this as I find more bad cases.

#### ~~1. A lot of nested generics~~

EDIT: This is fixed in the latest commit.

This is a case where we end up with `T -> S -> Float` and `Q -> Int`. This breaks somewhere along the line, and we end up with the error `"generic type 'S' not yet rea

[2018-08-21 15:21] #12 closed, assigned to arshajii

[2018-10-09 16:45] #6 closed, assigned to nobody

[2018-10-31 01:03] inumanag opened #14 "Case study: HapTreeX"
What needs to be done to run HapTreeX with Seq

Compiler tasks:
- [x] Comprehensions
- [ ] Default args and named arguments
- [x] try/catch
- [ ] lambdas
- [x] globals
- [ ] Libraries
   - [ ] File open/close (readlines, write)
   - [ ] map
   - [ ] copy.copy
   - [ ] dict.has_key
   - [ ] sorted, reversed
   - [ ] abs
   - [ ] string.split
   - [ ] math.log, math.erf, math.sqrt, math.factorial, m

[2018-11-19 16:50] arshajii opened #15 "Outstanding issues/features"
- [x] Fix `__argv__` (i.e. link that symbol to `module->getArgVar()`; accessible with `get_module_arg` in ocaml.cpp)

- [x] Multiple for-loop iteration variables: `for a,b in c: ...` (same for comprehensions). Can be converted in parser to:

      for _x in c:
          a = _x[0]
          b = _x[1]
          ...

- [x] Explicitly realizing generic methods (on master these should be `MethodExpr` o

[2018-12-05 04:47] inumanag opened #16 "Incremental Menhir parsing"
We should provide `.messages` file to Menhir or switch to incremental API to provide more informative error messages during the parsing (currently any malformed grammar yields just `Menhir error`).

[2018-12-05 04:48] inumanag opened #17 "Pythonic Import"
Provide proper Pythonic import syntax:
- [x] `import x`
- [x] `from x import y`
- [x] `from x import *`

[2018-12-05 04:49] inumanag opened #18 "Closures"
Provide full support for closures:
- [x] Lambdas
- [x] Nested functions
- [x] Decorators

[2018-12-05 04:50] inumanag opened #19 "Named arguments"
Support named arguments:
- [x] named arguments
- [ ] default arguments

(work being on ocaml-generics branch).

[2018-12-05 04:51] inumanag opened #20 "Tuple unpacking and indexing"
Support tuple unpacking and indexing:
- [x] `a, b = f(x)`
- [x] `t = (1, 2); f(*t)` (star-unpacking)
- [x] `f[1, 2]`
- [x] `f[:,1:2]`

[2018-12-05 04:53] inumanag opened #21 "Algebraic Data Types"
Support basic ADTs, e.g.

[code]

[2018-12-05 04:54] #9 closed, assigned to arshajii, inumanag

[2018-12-05 04:55] inumanag opened #22 "Implement Hindley-Milner type deduction"
Support cases such as:

[code]

or
[code]

[2018-12-05 04:59] inumanag opened #23 "Documentation"
Fix documentation:
- [x] Seq compiler
- [x] LLVM logic
- [x] Ocaml parser
- [ ] Seq stdlib

[2018-12-08 03:00] #15 closed, assigned to nobody

[2018-12-13 02:51] #17 closed, assigned to inumanag

[2018-12-14 03:08] inumanag opened #24 "JIT"
Implement JIT.

- [x] LLVM JIT (see https://llvm.org/docs/tutorial/BuildingAJIT1.html)
- [x] OCaml support
- [x] Jupyter plugs

[2018-12-16 01:03] inumanag opened #25 "Automatic class member deduction"
Two approaches:

1. Use parsing to deduce members (harder--- many corner cases)
2. Use `self.foo` as in Python and then deduce types/members during the compile stage (might be easier?)

Idea: try (2) and see will it work

[2018-12-25 18:49] #25 closed, assigned to nobody

[2018-12-28 04:51] inumanag opened #26 "Python stdlib"
Support Pythonic built-ins:

https://docs.python.org/3/library/

[2018-12-28 04:52] inumanag opened #27 "Dynamic (boxed) tuples and dicts"
- [ ] Support boxed types
- [ ] Support collections of various types via boxing

[2019-01-02 20:34] arshajii opened #28 "Allow colon-separated SEQ_PATH"
Just like standard `PATH`: e.g. `/some/path:/some/other/path`, where both given paths would be searched.

[2019-01-03 23:04] arshajii opened #29 ""with" statement"
`with` can be transformed into `try`...`finally` at the compiler level:

[code]
can be converted to:

[code]

---

`with`s with multiple clauses can be converted to single-clause nested `with`s:

[code]

becomes

[code]

[2019-01-04 00:07] #28 closed, assigned to inumanag

[2019-01-20 23:53] inumanag opened #31 "Type specialization and generic magics"
Support

[code]

[2019-01-30 14:21] #10 closed, assigned to arshajii, inumanag

[2019-01-30 15:43] #24 closed, assigned to nobody

[2019-01-30 15:44] #21 closed, assigned to nobody

[2019-01-30 15:45] #31 closed, assigned to nobody

[2019-03-01 18:37] arshajii opened #32 "Global variables don't error on compound assignment"
This case:

[code]

Currently no error is reported.

[2019-03-04 16:24] inumanag opened #33 "Standard library TODO"
Hi Jordan,

let's start with the string library:
https://docs.python.org/3/library/stdtypes.html#textseq

You can avoid string.format part for now.

Some functions (like `str.split`) are implemented in multiple places: for example, split on a single character is different than a split that operates on multi-character patterns.

Also, for each stdlib file, add the docs and implement a test suite as

[2019-03-31 15:04] #32 closed, assigned to inumanag

[2019-04-06 23:32] #4 closed, assigned to nobody

[2019-04-07 20:53] #26 closed, assigned to nobody

[2019-04-24 01:20] arshajii opened #34 "Nested try-except"
Nested try-except is currently not supported. This issue is for adding nested try-except support.

[2019-04-24 01:33] #23 closed, assigned to nobody

[2019-04-30 23:12] #34 closed, assigned to nobody

[2019-05-10 18:25] #27 closed, assigned to nobody

[2019-08-18 17:28] arshajii opened #35 "Multi-assignment error"
The following code:

[code]

Errors with *"tuple index 2 out of bounds (len: 2)"* on line 2. Commenting either line avoids the error, so assuming this is a parsing issue.

[2019-08-18 17:31] arshajii opened #36 "Int / Uint / Kmer bounds error"
Creating `Int`, `UInt` or `Kmer` types with an out-of-bounds width/length causes an uncaught C++ exception. This exception should be caught on the OCaml side. Example:

[code]

[2019-08-18 21:17] #36 closed, assigned to inumanag

[2019-08-18 21:26] #35 closed, assigned to inumanag

[2019-08-18 21:26] #14 closed, assigned to nobody

[2019-08-19 17:58] arshajii opened #37 "Code cleanup"
- [x] Trim trailing whitespace from OCaml code
- [x] Auto-format C++ with [clang-format](https://clang.llvm.org/docs/ClangFormat.html)
- [x] Auto-format OCaml with [ocamlformat](https://github.com/ocaml-ppx/ocamlformat) (?)

[2019-08-24 19:55] arshajii opened #38 "Emit debug info in generated LLVM IR"
Incorporate [LLVM debug info](https://llvm.org/docs/SourceLevelDebugging.html) in the generated IR to allow interoperability with tools like GDB/LLDB.

[2019-08-27 00:40] #37 closed, assigned to arshajii, inumanag

[2019-08-28 13:26] arshajii opened #39 "Double quotes inside multiline strings fail to parse"
This works:

[code]

This fails:

[code]

with error

[code]

[2019-08-29 20:14] arshajii opened #40 "Add htslib bindings"
Add [htslib](https://github.com/samtools/htslib) bindings to Seq for SAM/CRAM/VCF I/O.

[2019-09-03 17:16] #40 closed, assigned to arshajii

[2019-09-05 21:04] arshajii opened #42 "Stack overflow on recursive imports"
A file `test.seq` containing

[code]

will fail to parse with a stack overflow OCaml exception. We should catch these cases and handle them gracefully.

[2019-09-05 21:10] inumanag opened #43 "Jupyter"

[2019-09-05 21:36] arshajii opened #45 "Better k-mer support"
- [x] Match on k-mers (should work exactly like sequence match)
- [x] k-mer indexing (e.g. `k[3]`, `k[:4]`)
- [x] Building new k-mers from existing ones (e.g. swap a base)

[2019-09-08 19:33] #45 closed, assigned to arshajii

[2019-09-10 16:22] inumanag opened #46 "Fix static builds"
Depends on:
- https://github.com/ocaml/dune/issues/2618

[2019-09-10 21:50] arshajii opened #47 "Stacked unary operators fail to parse"
`++1`, `--1` and `~~1` fail to parse. These work as expected in Python.

[2019-09-11 20:47] jordanwatson1 opened #48 "str.isspace() illegal escape"
When testing str.isspace() an uncaught exception appeared when testing '\v' and '\f'
Please see image below for reference.

<img width="493" alt="Screen Shot 2019-09-11 at 1 45 01 PM" src="https://user-images.githubusercontent.com/38967372/64734020-b5b37580-d49a-11e9-8ceb-9ca472132b11.png">

[2019-09-13 19:45] #39 closed, assigned to inumanag

[2019-09-13 19:45] #42 closed, assigned to nobody

[2019-09-13 19:45] #47 closed, assigned to inumanag

[2019-09-13 19:45] #48 closed, assigned to inumanag

[2019-09-17 20:16] #29 closed, assigned to nobody

[2019-09-18 18:14] inumanag opened #54 "str.length fails if null-characters are included"
Seq:
[code]

Python:
[code]

[2019-09-26 13:52] #54 closed, assigned to arshajii

[2019-10-07 19:11] jordanwatson1 commented on #33
**Random**

- [x] random.seed(a=None, version=2)
- [ ] random.getstate()
- [ ] random.setstate(state)
- [x] random.getrandbits(k)
- [x] random.randrange(stop)
- [x] random.randrange(start, stop[, step])
- [x] random.randint(a, b)
- [x] random.choice(seq)
- [x] random.choices(population, weights=None, *, cum_weights=None, k=1)
- [x] random.shuffle(x[, random])
- [ ] random.sample(population, k)
- [

[2019-10-10 23:28] jordanwatson1 opened #58 "Doc strings not supported in class"

[2019-10-16 17:55] jordanwatson1 opened #59 "Automatic member deduction does not work with global variables"
This fails miserably:
[code]

Error:
[code]

[2019-10-16 18:32] jordanwatson1 opened #60 "getmonotonicclock() implementation"
_PyTime_GetMonotonicClock

[2019-10-17 18:30] arshajii opened #61 "Uncaught OCaml exception on misplaced quotes"
Only one character is needed to reproduce this:

[code]

Output:

[code]

[2019-11-01 00:37] jordanwatson1 commented on #33
**itertools**

- [ ] itertools.accumulate(iterable[, func, *, initial=None])
- [ ] itertools.chain(*iterables)
- [ ] classmethod chain.from_iterable(iterable)
- [ ] itertools.combinations(iterable, r)
- [ ] itertools.combinations_with_replacement(iterable, r)
- [ ] itertools.compress(data, selectors)
- [ ] itertools.count(start=0, step=1)
- [ ] itertools.cycle(iterable)
- [ ] itertools.dropwhile(p

[2019-11-09 18:15] inumanag opened #78 "Nones and optionals"
Improve support for `None`s and optional types.

[2019-11-13 06:20] inumanag commented on #33
Next steps:

- [collections](https://docs.python.org/3/library/collections.html#module-collections) --- `Counter`, `ChainMap`, `deque`, `defaultdict` and `OrderedDict`
- [bisect](https://docs.python.org/3/library/bisect.html) -- one part is already there
- [heapq](https://docs.python.org/3/library/heapq.html)
- [statistics](https://docs.python.org/3/library/statistics.html)
- [os](https://docs.pyt

[2019-11-13 06:23] inumanag commented on #43
Hi @jodiew:

We will need these for now:
- Simple execute (with stdout / stderr separation)
- Introspection/Hover (create a dummy Python functions that just shows the location of hover)
- Signature Help (same as above)

and a syntax highlighter for VSCode and Sublime. Probably in TextMate format as it is more versatile.

[2019-11-15 19:32] jordanwatson1 commented on #33
**bisect**

- [ ] bisect.bisect_left(a, x, lo=0, hi=len(a))
- [ ] bisect.bisect_right(a, x, lo=0, hi=len(a))
- [ ] bisect.bisect(a, x, lo=0, hi=len(a))
- [ ] bisect.insort_left(a, x, lo=0, hi=len(a))
- [ ] bisect.insort_right(a, x, lo=0, hi=len(a))
- [ ] bisect.insort(a, x, lo=0, hi=len(a))

[2019-11-18 19:45] jordanwatson1 commented on #33
**collections**

class collections.Counter([iterable-or-mapping])
- [ ] Counter.elements()
- [ ] Counter.most_common([n])
- [ ] Counter.subtract([iterable-or-mapping])
- [ ] Counter.fromkeys(iterable)
- [ ] Counter.update([iterable-or-mapping])

class collections.deque([iterable[, maxlen]])
- [ ] deque.append(x)
- [ ] deque.
- [ ] deque.

[2019-11-18 20:42] jordanwatson1 commented on #33
**heapq**

- [ ] heapq.heappush(heap, item)
- [ ] heapq.heappop(heap)
- [ ] heapq.heappushpop(heap, item)
- [ ] heapq.heapify(x)
- [ ] heapq.heapreplace(heap, item)
- [ ] heapq.merge(*iterables, key=None, reverse=False)
- [ ] heapq.nlargest(n, iterable, key=None)
- [ ] heapq.nsmallest(n, iterable, key=None)

[2019-11-18 20:43] jordanwatson1 commented on #33
***statistics***

- [ ] statistics.mean(data)
- [ ]
- [ ]
- [ ]
- [ ]
- [ ]
- [ ]
- [ ]
- [ ]

[2019-11-19 22:39] jordanwatson1 commented on #33
***os***
- [ ] exception os.error
- [ ] os.name

*Process Parameters*
- [ ] os.ctermid()
- [ ] os.environ
- [ ] os.environb
- [ ] os.chdir(path)
- [ ] os.fchdir(fd)
- [ ] os.getcwd()
- [ ] os.fsencode(filename)
- [ ] os.fsdecode(filename)
- [ ] os.fspath(path)
- [ ] class os.PathLike
   - [ ] abstractmethod __fspath__()
- [ ] os.getenv(key, default=None)
- [ ] os.getenvb(key, default=None)
- [ ] o

[2019-11-19 22:41] jordanwatson1 commented on #33
***getopt***

- [ ] getopt.getopt(args, shortopts, longopts=[])
- [ ] getopt.gnu_getopt(args, shortopts, longopts=[])
- [ ] exception getopt.GetoptError
- [ ] exception getopt.error

[2019-11-21 20:42] #58 closed

[2019-11-21 20:42] #61 closed, assigned to nobody

[2019-11-25 09:38] #78 closed

[2019-11-25 09:38] #19 closed

[2019-11-25 09:38] #7 closed

[2019-12-09 18:39] #60 closed

[2019-12-09 19:44] inumanag commented on #33
== BioPython / pyVCF

### [Align](https://biopython.org/docs/1.75/api/Bio.Align.html)
- [ ] `Bio.Align.MultipleSeqAlignment`
- [ ] `Bio.Align.PairwiseAligner`
- [ ] `Bio.Align.PairwiseAlignment`
- [ ] ` Bio.Align.PairwiseAlignments`
### [SeqUtils](https://biopython.org/docs/1.75/api/Bio.SeqUtils.html)
### [SeqRecord](https://biopython.org/docs/1.75/api/Bio.SeqRecord.html)
### [SeqFeature](https://

[2020-01-10 17:19] evanrrees opened #86 "install.sh script doesn't install correctly (libomp.so* missing)"
I am trying to download/install the prebuilt binaries for seq, but the `install.sh` script does not seem to do the job. I am running the command `wget -O - https://raw.githubusercontent.com/seq-lang/seq/master/install.sh | bash` as found in the [install](https://seq-lang.org/intro.html#install) documentation.

**On CentOS 7.6.180:**

[code]

After adding the last three lines above to `~/.bash_prof

[2020-01-10 21:45] markhend commented on #86
I think I may have had similar issues. I'm on Ubuntu 19.10. Some things you could try to help troubleshoot:
- Does 'seqc -help' work for you? When I try 'seqc -h' I get the message "seqc: Unknown command line argument '-h'.  Try: 'seqc -help'
- Try 'ldd seqc' which will show the shared libraries required by seqc. (Note: MacOS may need a different command). E.g.

mhenders@mhenders-750-247c ~/.seq $

[2020-01-12 05:37] arshajii commented on #86
Thanks for the detailed issue. Ideally we would link OpenMP statically, although that comes with its own set of challenges. We'd actually like to make our pre-built binaries fully static anyway; let me spend a bit of time on this and get back to you. In the meantime feel free to try out the suggestions from @markhend. By the way, on macOS `brew install openmp` *should* work.

[2020-01-15 22:01] evanrrees commented on #86
@arshajii thanks for looking into this and @markhend thank you for the pointers!

Installing OpenMP worked for both macOS and Ubuntu, and was as simple as `brew install libomp` or `sudo apt-get install libomp-dev`, respectively. I'll try to get the sysadmin on the CentOS server to do the same. For now, seq is up and running!

Strangely, the symlinks `~/..seq/libbz2.so.1.0` and `~/.seq/libomp.so.5`

[2020-01-16 17:51] arshajii commented on #86
Great! Let us know how it goes :) I'll keep this issue open for now until we find a better way to handle OpenMP.

[2020-01-22 18:10] hashbackup opened #92 "Idea: interface file for Python C libs"
I ran a quick 10M {int:int} dict benchmark with Python 2.7 and Seq and was quite impressed.  I'ts posted on your Hacker News announcement.  The Python version used 1.1 GB and 8 seconds, Seq used 395 MB and 5 seconds.  I didn't add any type info, just changed one line that created an empty dict.  Congratulations!

I did some poking around and it looks like supporting the Python stdlib requires port

[2020-01-22 18:17] hashbackup opened #93 "Roadmap: document all Python standard library modules"
It would be helpful to have a complete list of all standard Python modules and a guide as to which ones are supported, in progress, going to be supported, or not going to be supported ever.  For example, is the threading module ever going to be supported?  Will threading be handled with Seq's pipelines only?  Will the multiprocessing module be supported?

Having this list will encourage people to

[2020-01-22 18:27] hashbackup commented on #86
Here's the stuff I had to install on a Vultr CentOS 8 VM:

yum install ncurses ncurses-dev libomp.x86_64 libomp-devel python3 llvm

Then in the .seq directory I had to do:

ln -sf /usr/lib64/libomp.so libomp.so.5

because libomp.so.5 was a symlink to itself.

[2020-01-22 19:55] markhend commented on #93
There appears to be somewhat of a target list in the standard library [todo issue #33](https://github.com/seq-lang/seq/issues/33)

[2020-01-23 00:51] arshajii commented on #92
Great to hear that! That's an interesting idea, and I think we already have some of the machinery you mention in place (e.g. the wrapper already exists to support our current Python interop). I don't immediately see any reason why we couldn't do something like this; I think really the only somewhat tricky part may be parsing the interface files and mapping them to Seq's type system. Let me think a

[2020-01-23 00:52] arshajii commented on #93
Thanks for the suggestion; I'm planning to make a roadmap document in the next day or so, and will definitely include something like this.

[2020-01-23 01:43] hashbackup commented on #92
In my original post, I said Cython extensions one place and CPython extensions in another, but I meant CPython in both cases.  Though I guess the same mechanism oould work for both.

There is a project cppyy that does a similar thing for interfacing C++ to Python.  I've never used it.

Another possibility is to take a look at pypy's standard library, where a lot of CPython C code has already been

[2020-01-23 19:43] arshajii commented on #93
I've started a roadmap doc [here](https://github.com/seq-lang/seq/wiki/Roadmap). Don't yet have a full list of what we will and will not support, but at least have a list of the modules we (partially) support right now. I'll update this document to provide more details. In short, I'd say modules not relevant to bioinformatics (e.g. network-related stuff like `http`) are low-priority for us to impl

[2020-01-24 23:01] hashbackup opened #94 "Function called with different types"
Shouldn't this code work?  I thought that if a function was called with different arg types, the compiler would generate two different functions, one for each arg type.  Instead, it looks like the compiler is complaining because it is inferring the type of x to be both int and str.
[code]

[2020-01-25 00:40] markhend commented on #94
Interesting example. It appears the compiler infers x is a str and so then balks when checking that the types are the same on either side of `==` in `x == 1`. I played with your example a bit. This is about as close as I could get:
[code]

[2020-01-25 01:17] hashbackup commented on #94
First I tried this:
[code]
I guess maybe type() isn't implemented yet?

I could be wrong and probably am, but my intuition is that Seq would have a better chance of large adoption and more contributions if it was "a compiled Python with genomic extensions" vs "a genomics language similar to Python".

[2020-01-25 01:51] arshajii commented on #94
Yes, this is because the type of `x` becomes `str` or `int` depending on the argument type, which is what produces the error. **However,** I think this is something we can actually solve even in a statically-typed context. We can potentially check at compile time when two things of different types are being compared like that (and there is no corresponding `__eq__` magic) and remove that branch co

[2020-01-25 02:48] hashbackup commented on #94
Using the 2nd example, there would be no type mismatch on the == operator.  I don't know how your type inference works, but it seems that it looks at a function definition to infer argument types without considering the actual arguments on a function *call*.  If you know the actual arguments' type, that should take precedence over whatever is going on inside the function.

Another way to look at i

[2020-01-25 03:38] hashbackup commented on #92
Here's a sketch of what I had in mind for an interface file that would
allow Seq to call C extensions already in the Python interpreter.  For example, the struct built-in located in Modules/_struct.c

Disclaimer: I'm not an expert on Python internals and still using 2.7
w/o types, so this could all be complete rubbish!
[code]
An interface file struct.pyi might look something like:
[code]
At compil

[2020-02-03 00:07] fuzzthink opened #96 "Is there a Set data structure or built-in unique filter?"
Is eg.: `Set([ ... ])` or `[ ... ] |> some_collection_lib.unique` available?

[2020-02-03 00:14] fuzzthink commented on #96
Lowercase `set`  does the trick.

[2020-02-03 00:14] #96 closed

[2020-02-03 01:01] fuzzthink opened #97 "How to print Kmers without commas?"
`print(kmers)`  prints with comma as separator.  `' '.join(kmers)` doesn't work.

[2020-02-03 02:29] arshajii commented on #97
You could try `' '.join([str(kmer) for kmer in kmers])`. e.g.:

[code]

[2020-02-03 05:45] fuzzthink commented on #97
Thanks! A followup question. If I want to put this into a function, how do I specify the Kmer type so that the Kmer length can be generic?

Eg.:
[code]

[2020-02-03 08:26] fuzzthink commented on #97
Got it.

[code]

[2020-02-03 08:26] #97 closed

[2020-02-10 21:30] #46 closed

[2020-02-10 23:38] #16 closed

[2020-02-11 05:30] inumanag opened #100 "Default class initializers"
This segfaults:
[code]

Maybe `__init__` should call default constructor on all members? We don't want segfaults or uninitialized values in Seq.

[2020-02-11 05:31] inumanag opened #101 "FASTA/Q names"
For FASTQ file
[code]

`record.name` is `SRR2040271.1 SN603_WBP007_8_1101_63.30_99.90 length=100` while it should be `SRR2040271.1` (everything after the space is a comment). Maybe introduce `comment` property?

[2020-02-11 14:15] arshajii commented on #101
Good point; I think we can rename current `name` to `header` for full header line, then introduce `@property`s `name` and `comment` that split on the space and return the correct string. That way there's not extra storage and you only split the string on demand.

[2020-02-11 14:18] arshajii commented on #100
I think the broader issue is what to do about `None`s (right now `None` will segfault in general). I'd propose that in debug mode we always add a check whenever we dereference a class variable (this is easy to do in the backend) and raise an exception if it's `None`.

[2020-02-11 15:16] arshajii opened #102 "Segfault with chained generators"
Reproduce with:

[code]

[2020-02-11 17:39] inumanag commented on #102
This is similar to the problem I had with HTx!

[2020-02-11 20:06] fuzzthink opened #103 "dyld: Library not loaded: /usr/local/opt/xz/lib/liblzma.5.dylib"
Installed seq a week ago on osx catalina 10.15, all is good.

Try to install on osx 10.13.6 today, via:
[code]

`seqc test.seq` # just print 's'

got
[code]

`/usr/local/opt/` does not contain `xz/`

[2020-02-11 20:25] inumanag commented on #103
`brew install xz`?
Probably Travis  uses the latest version of `liblzma` that is used for building `htslib`.

[2020-02-11 21:48] fuzzthink commented on #103
`brew install xz` installed `liblzma.5.dylib  liblzma.a        liblzma.dylib` into `/usr/local/opt/xz/lib/liblzma`, but still seeing:

[code]

Seems like the latest liblzma.5 (6.0) is many years ago. Why seqc wants 8.0? How can 8.0 be installed?

[2020-02-13 22:32] arshajii commented on #102
After some testing, it seems LLVM 7 works (our Tapir-LLVM is based on LLVM 6 due to [a regression](https://bugs.llvm.org/show_bug.cgi?id=40656) in 7+). After looking at the changes to LLVM coroutines, I believe this was fixed with [this](https://github.com/llvm-mirror/llvm/commit/dcb2807d870458afa2a505b290ebb6f459c32c26#diff-466cda1fa7219a86168156d5ebfca802) commit. We could easily port this to ou

[2020-02-15 20:03] arshajii commented on #101
Added with https://github.com/seq-lang/seq/commit/02d468111ebd469f58800fe90330110f1249f9b1.

[2020-02-16 19:43] arshajii opened #104 "Possible crash when shadowing types and functions"
It's possible to crash the compiler if we shadow types/functions like this:

[code]

This is because the two `foo`s have the same mangled name, so the first one is actually re-used. Maybe disallow shadowing types and/or functions? Doing so will probably prevent a lot of bugs anyway.

[2020-02-16 20:26] arshajii commented on #100
Added with https://github.com/seq-lang/seq/commit/ac3a73e6091f144b8cd71c77a75f79e0586847d6.

[2020-02-19 01:15] #100 closed

[2020-02-19 01:15] #101 closed

[2020-02-24 00:13] fuzzthink opened #106 "BUG? insert index out of range"
[code]
no issue in python, but in seq:

IndexError: insert index out of range

raised from: _idx_check

[2020-02-24 06:03] fuzzthink opened #107 "CError: dlopen(libpython3.7, 10): image not found"
From tutorial sample:
[code]

[code]

[2020-02-24 15:49] arshajii commented on #107
Hey, could you try setting the `SEQ_PYTHON` env variable as described here: https://seq-lang.org/python.html.

[2020-02-25 08:16] fuzzthink commented on #106
Thanks! And thanks for the reference, good to know!

[2020-02-25 08:16] #106 closed

[2020-02-25 09:33] fuzzthink commented on #107
Yup, that works. Sorry didn't see the setup info at top.

[2020-02-25 09:33] #107 closed

[2020-02-29 20:57] fuzzthink opened #109 "Bug? s'A'[:] errors"
[code]

test.seq:2:9: error: cannot find method '__getitem__' for type 'seq' with specified argument types (eslice)

[2020-03-01 01:25] fuzzthink opened #110 "Can't set defaults in __init__"
[code]

test.seq:11:1: error: magic method overrides cannot be generic (__init__)

[2020-03-01 05:04] fuzzthink opened #111 "eslice and rslice errors"
Comment Notes:
eslice error is "error: cannot find method '__getitem__' for type 'generator[seq]' with specified argument types (eslice)"

rslice error is "error: cannot find method '__getitem__' for type 'generator[seq]' with specified argument types (rslice)"

[code]

[2020-03-01 05:11] arshajii commented on #109
This is something we could add to the `seq` type (note that it should work for `str`); it would just be a no-op.

[2020-03-01 05:12] fuzzthink commented on #111
Ah, split() returns a generator, so needed list()

[2020-03-01 05:12] #111 closed

[2020-03-01 05:14] arshajii commented on #110
Yes, this is currently a limitation, but you can overload `__init__`:

[code]

Allowing defaults with `__init__` is not straightforward since we also need to allow overloaded `__init__`, but it's something we could possibly add in the revised type-checker.

[2020-03-01 19:25] arshajii commented on #109
Added with https://github.com/seq-lang/seq/commit/f6ca8b6b3bf88364fc5fadf7c883a8489b73f15a.

[2020-03-01 22:35] fuzzthink commented on #109
Thanks! @arshajii

[2020-03-01 22:35] #109 closed

[2020-03-03 01:24] fuzzthink opened #112 "Error with multimethods"
[code]

error: expected function input type 'int', but got 'list[int]'

[2020-03-03 02:24] markhend commented on #112
Not sure that's supported. Looks like the second def shadows the first. You could do something like:

[code]

[2020-03-04 07:36] fuzzthink opened #113 "Bug? Extended slice syntax errors on string"
[code]

error: cannot find method '__getitem__' for type 'str' with specified argument types (esslice)

[2020-03-05 14:24] arshajii commented on #113
Added with https://github.com/seq-lang/seq/commit/ae1384cdab890f888fe751d515bc50fd385726a8!

[2020-03-14 21:45] fuzzthink opened #114 "Seg Fault Issue"
Create repo for a seq fault issue: https://github.com/fuzzthink/seqIssues

Error message:
`zsh: segmentation fault  ~/.seq/seqc segfault.seq 3`

Version: Seq 0.9.5

Main call is:
[code]

`seqc segfault.seq 3` will run 2 functions, which seg faults.
But running 1 and 2 by itself will not.

[2020-03-15 00:51] fuzzthink opened #115 "reverse param in .sort() and in sorted() not implemented"
Will it be?

[2020-03-15 02:55] markhend commented on #114
`PeptideChars = MassLU.keys()` seems to be the issue.
`PeptideChars = list(MassLU.keys())` works

[2020-03-15 03:22] fuzzthink commented on #114
@markhend Thank you!!

[2020-03-15 03:22] #114 closed

[2020-03-17 07:31] fuzzthink opened #116 "Hard crashed - unreachable"
Seq version: 0.9.5

[code]

Output:
[code]

[2020-03-17 07:39] fuzzthink commented on #116
Not related, but I closed a Seg Fault issue that was due to use of improper use of `.keys()` generator as a data to be used more than once in https://github.com/seq-lang/seq/issues/114 .  Please reopen it warrants compiler changes.

[2020-03-17 12:58] arshajii commented on #116
This code actually should not parse because we don't yet support closures. A simpler example that causes the same issue:

[code]

We plan to later add proper support for closures, but for now these cases should fail during parsing.

[2020-03-21 00:34] FDInSky opened #118 "How to add autodiff?"

[2020-03-21 17:43] inumanag commented on #102
Anecdotally, this has been resolved on our Tapir branch (https://github.com/seq-lang/Tapir-LLVM) as I experienced no issues since the latest fix.

[2020-03-21 21:13] arshajii commented on #118
Hey, could you elaborate a bit on this? What do you mean exactly?

[2020-03-24 17:17] inumanag commented on #104
This will greatly reduce the pool of useful variable names as well... can we have smarter mangling in this case?

[2020-03-24 17:18] inumanag commented on #112
Yes, currently we do not support overloaded functions (only overloaded magic methods in class definitions are supported), and the latest definition will shadow the previous ones. We will handle this better once the union types land in develop.

[2020-03-24 18:49] #116 closed

[2020-03-24 19:23] #113 closed

[2020-03-24 19:59] inumanag opened #119 "join and other functions does not work with generators"
`''.join(reversed(a))`

errors with

`prob1.seq:38:29: error: expected function input type 'list[str]', but got 'generator[str]'`

Can we cast `generator[T]` to `list[T]` if function requires `list[T]` on the fly?

[2020-03-24 20:03] inumanag opened #120 "Slices are overly complicated"
Currently, we have 7 slice classes (`rslice`, `esslice` etc.) for all possible one-dimensional slice combinations. An user has to add a method for each slicing combination. Currently, many internal classes lack such methods.

However, this becomes impractical with multi-dimensional matrices. For example, if you want to implement a matrix that supports `a[1, :2]`, `a[:3, 2:]` and so on, you end wit

[2020-03-24 20:06] inumanag opened #121 "`seq` and `Kmer` are impractical for everyday use"
On top of my head:

- [ ] When loading `seq` via `bio.FASTA`, comparisons often fail because `s'a' != s'A'` (and most FASTAs are soft-masked and thus contain loads of lowercase letters). One has to go over this by doing `seq = seq(str(seq).upper())`.
- [ ] `seq = str` does not work
- [ ] `seq1 + seq1` does not work
- [ ] `seq1 + str1` does not work
- How do you get a k-mer from a sequence? `k = Km

[2020-03-24 20:07] inumanag opened #122 "Ctrl-C does not work on Linux"
Hitting Ctrl-C on Linux (Ubuntu 18.04) does not stop execution. It is necessary to do Ctrl-Z with `kill %1` to abruptly stop the execution.

[2020-03-24 20:09] inumanag opened #123 "`in` optimization needed"
`if len(name) > 2 and (name[-2] == '#' or name[-2] == '/')` is much faster than  `if len(name) > 2 and name[-2] in '#/'` (15 seconds difference on a small BAM). We might consider optimizing this case.

[2020-03-24 20:10] inumanag opened #124 "`finally` does not work with `sys.exit`"
In Python, this prints `hi`:

[code]

In Seq, it just terminates without going through `finally`.

Should we handle exit signals gracefully?

[2020-03-24 20:14] inumanag opened #125 "Class generation issues"
This code segfaults:
[code]

When the last line is not commented, it works. Can we automatically call default constructors for each class member in `__new__`? It is really hard to find these errors with classes that have many members, especially since it is not yet possible to debug Seq code.

Also, can we have an attribute (say, `@compare`) for automatic generation of comparison functions (`__lt_

[2020-03-24 20:15] inumanag opened #126 "`min`/`max` do not work in some cases"
This:

[code]

errors with `could not deduce type parameters of class 'min'`.

[2020-03-24 20:16] arshajii commented on #119
This can be handled right now using something like this:

[code]

But for doing this cast for general functions, I'd prefer to wait for the new type-checker, since we already have several special cases right now (i.e. `optional`, `generator`), and I don't think it makes sense to just add more special cases since it can just really messy. I think we should handle this in a more principled way in th

[2020-03-24 20:17] inumanag opened #127 "Python bridge improvements"
- [x] `pyimport foo` and `from lib pyimport foo` should work w/o any type specification (assume that output is `pyobj`.
- [x] `pyobj` member access (`pyobj.foo`) should be handled at Python's side. Needs type checker information though...

[2020-03-24 20:18] inumanag opened #128 "Generator issues"
- [x] Can we have `generator.__str__` like in Python?
- [x] `print range(10)[2:-2]` does not work...

[2020-03-24 20:18] arshajii commented on #120
Maybe we can consolidate to a single slice type?

[code]

Something like this?

[2020-03-24 20:27] arshajii commented on #122
I've also noticed this exact behavior; still not sure what causes it though.

[2020-03-24 20:33] arshajii commented on #123
I think this is probably just an `str.__contains__` issue. We can probably add special-cases when the pattern is single-character etc. Right it uses KMP search everywhere, which entails allocating the LP array etc. I think if the length of the query string is, say, <= 5 we can just do a brute force search.

[2020-03-25 01:46] arshajii commented on #126
https://github.com/seq-lang/seq/commit/7720b36d01e2d3e524c201b10d15b3936a9cc3f7 adds support for up to 5 arguments. Beyond this we'll need vararg support (i.e. `*arg`).

[2020-03-25 01:54] arshajii commented on #125
Where does `Bloom` fail? I think it makes sense to set things to `None` by default rather than call constructors (since that might have unintended side effects), and then have good support for `None` in debug mode.

Can we generate `__lt__` etc. in the frontend if there is a method tagged `@compare`? e.g.

[code]

[2020-03-25 14:29] arshajii commented on #124
This is quite tricky. Even if we "catch" the exit, it's not easy to jump through all the pending `finally`s. Need to think more about how to solve this one...

`finally` in general makes things 10x more complicated, especially when you have abnormal control flow out of the corresponding `try` block (e.g. `break`, `continue`, `return` -- which are all handled correctly -- and now `exit`). https://s

[2020-03-25 14:39] arshajii commented on #121
This is because sequence is just essentially a string right now internally. Maybe we should have more strict requirements on what can be included in a sequence (i.e. just [IUPAC](https://www.bioinformatics.org/sms/iupac.html) uppercase characters? -- that would require converting when we read sequence data from disk).

TBH I don't think `+` and `=` should be overloaded for `seq`+`str` -- they are

[2020-03-25 16:06] arshajii commented on #123
https://github.com/seq-lang/seq/commit/faa7b949efc82f98e3589b267f9b8e18c1b22cd9 adds this, and should be a lot faster for these kinds of single-character patterns.

[2020-03-25 18:04] arshajii commented on #119
Fixed for `str.join()` in https://github.com/seq-lang/seq/commit/97a3d6328841893a3d9a729bd13ea389f15e9ae4.

[2020-03-25 19:13] arshajii commented on #128
- https://github.com/seq-lang/seq/commit/5a4a79c31b5cff09045e3100a62d837490076447 adds `__str__` to generator and function types (gives something like `<function at 0x101b0da50>` or `<generator at 0x107970ec0>`).
- https://github.com/seq-lang/seq/commit/efca4fdefadc2702820028fad19ef6484cf53085 adds slice support for ranges (as well as a few other methods/features).

[2020-03-26 02:25] #102 closed

[2020-03-26 14:07] arshajii opened #130 "seqc regressions since cpp branch merge"
- `SEQ_PATH` deduction no longer works: if `SEQ_PATH` is not set, `seqc` reports `<internal>: error: cannot load standard library`.
- `seqc` can no longer read input from stdin: `echo "print 0" | seqc` just terminates normally without printing anything.

[2020-03-26 16:25] arshajii commented on #124
After looking into how Python does this: in Python `sys.exit()` actually raises `SystemExit`, which allows `finally`s to be executed (https://docs.python.org/3/library/exceptions.html#SystemExit). I think we can do the same in Seq (and similarly for `assert`s).

[2020-03-26 18:29] arshajii commented on #124
This is resolved with https://github.com/seq-lang/seq/commit/f25ac1cd929aa3badb5b1efa4c6ada91e390631a. Now both `sys.exit()` and `assert`s will call `finally` blocks.

[2020-03-26 20:23] arshajii commented on #115
This is added in https://github.com/seq-lang/seq/commit/2aadac6eb82c8169abd38b19cd1f108b7536099f, and included in v0.9.6.

[2020-03-26 20:23] #115 closed

[2020-03-26 20:24] arshajii commented on #130
Fixed with https://github.com/seq-lang/seq/commit/18484c37dd087a1ea00c5e9098c54ca28f34135c.

[2020-03-26 20:24] #130 closed

[2020-03-26 20:25] #124 closed

[2020-03-26 20:25] #128 closed

[2020-04-06 03:38] FDInSky commented on #118
I want to add autodiff like swift https://github.com/apple/swift/blob/a4fcc48fddd2d03e853728654e6ad692de75fad3/docs/DifferentiableProgramming.md

[2020-04-08 16:06] inumanag commented on #118
This is a cool feature— thanks for the suggestion! However, it will probably have to wait until we stabilize our type system and the debugging protocol.

[2020-04-08 17:54] inumanag opened #131 "SEQ_PYTHON auto-detection"
We should auto-detect SEQ_PYTHON either during the setup or during the execution.

[2020-04-19 04:15] mateog4712 opened #134 "Inability to have dual imports"
Example:

Class hit has an attribute alignment which is imported from align.seq
and
class alignment has attributes which depend on getting information from hits thus needs the hit class from hit.seq

When trying to have them both import each other, the files run for a period of time before outputting  a stack overflow error

[2020-04-23 05:26] inumanag commented on #131
Currently solved by loading `libpython.so` automatically. However, it assumes that it is Python 3 library.

[2020-04-23 05:26] #131 closed

[2020-05-05 18:13] inumanag commented on #103
Fixed! Thanks for the report!

[2020-05-05 18:13] #103 closed

[2020-06-13 07:31] jelber2 opened #138 "Help with adding Seq implementation of FASTQ count and BED coverage"
Hi,

This might be interest to promote the utility of the Seq language. Heng Li and others are benchmarking different programming languages to perform some standard bioinformatics functions such as counting number of reads and bases in a FASTQ file and calculating coverage between two bed files. I wrote a very, very simple FASTQ counter for Seq (https://github.com/lh3/biofast/issues/15). A bed cov

[2020-06-13 18:30] arshajii commented on #138
Hey @jelber2, thanks for the suggestions -- that sounds like a great idea! Let me take a look at those benchmarks and see if I can come up with a Seq version.

[2020-06-22 08:26] FDInSky opened #140 "Will you add ast interface in stdlib ?"
I want to write an autodiff module for seq, but found no ast interface.
Will you plan to write ast ?

[2020-06-23 21:19] arshajii commented on #138
So the FASTQ implementation looks good -- you can also try `FASTQ(..., validate=False)` to make it slightly faster. The Seq version is still somewhat slower than C here because in the Seq version there is an additional copy that is done. I think we can look into adding a `copy=False` option like we have for FASTA.

Here's a first attempt at an implementation for the BED benchmark (confirmed it giv

[2020-06-24 14:16] jelber2 commented on #138
Oh wow! Interesting, so with `copy=False` and `validate=False`, it is on par with the C version?

[2020-06-27 01:09] inumanag commented on #140
Yes, that is planned, but probably later this year (currently you can access AST via C++ interface).

[2020-06-28 00:08] arshajii commented on #138
I just added the `IntervalTree` to the standard library with https://github.com/seq-lang/seq/commit/ecc5ee66464882610913db65f16ccfe280b17836. Benchmarks are also under the `test/bench` folder now:

- FASTQ counter: https://github.com/seq-lang/seq/blob/develop/test/bench/fqcnt.seq
- BED coverage: https://github.com/seq-lang/seq/blob/develop/test/bench/bedcov.seq

That commit also makes the bedcov b

[2020-06-28 11:48] jelber2 commented on #138
Oh cool! Will there be a new release soon of `Seq` maybe 0.9.8?

[2020-06-28 12:06] jelber2 opened #141 "Adding bgzip integration?"
Hi,

Not really an issue, more of a request?

`bgzip` can decompress in parallel (assuming the .gz file was compressed with `bgzip`). I don't know of many projects that take advantage of this, but first checking whether a .gz file was compressed with `bgzip` then calling the `bgzip` binary if present or perhaps a library somehow included with `Seq` (see for example something similar done with `pyt

[2020-06-28 16:43] arshajii commented on #138
Yes we're working on the new release now actually. It'll most likely be 0.10, as we're planning on introducing an improved type system that further closes the gap with Python.

[2020-07-06 18:46] c5sire opened #142 "Compilation not working"
Hello,

I am trying to produce an executable file as per the instructions on the intro page.
The first two steps
  seqc -o myprogram.bc myprogram.seq
  llc myprogram.bc -filetype=obj -o myprogram.o
are working. However, the third step
   gcc -L/path/to/libseqrt/ -lseqrt -lomp -o myprogram myprogram.o
gives an error:

/usr/bin/ld: cannot find -lomp
collect2: error: ld returned 1 exit status

I inst

[2020-07-07 09:38] jelber2 commented on #142
I had to do the following instead of what was in the instructions:

     gcc -L/path/to/libseqrt/ -o myprogram myprogram.o -lseqrt -lomp

[2020-07-07 11:49] c5sire commented on #142
Thank you, but still get the same error.

[2020-07-07 12:30] jelber2 commented on #142
Okay, sorry. Another thing I had to do on my system, Ubuntu 20.04, was make sure the symlink in directory /path/to/libseqrt/
was

    libomp.so -> /usr/lib/llvm-10/lib/libomp.so.5

and not

    libomp.so.5 -> /usr/lib/llvm-10/lib/libomp.so.5

[2020-07-07 12:41] c5sire commented on #142
Hi,

that apparently solved one issue. But now it shows:
/usr/bin/ld: myprogram.o: relocation R_X86_64_32S against `.rodata' can not be used when making a PIE object; recompile with -fPIE
collect2: error: ld returned 1 exit status

[2020-07-07 12:41] c5sire commented on #142
Thanks

[2020-07-07 12:46] jelber2 commented on #142
Try

    gcc -L/path/to/libseqrt/ -o myprogram myprogram.o -no-pie -lseqrt -lomp

Note, you might need to add `-lz` after `-lomp` if you are using libraries requiring `libz` (i.e., `zlib`)
You would need to have a symlink in /path/to/libseqrt/ such as

    libz.so.1 -> /lib/x86_64-linux-gnu/libz.so.1

[2020-07-07 12:49] c5sire commented on #142
That worked!

Thanks for the notes and help.

Best

[2020-07-07 12:53] jelber2 commented on #142
Oh great! Have fun with `Seq`. I am not a `Seq` developer but went through the same issues as you presumably. It looks like a very promising programming language.

[2020-07-07 18:16] inumanag commented on #142
Hi @c5sire,

Right now you will need to install Intel or LLVM OMP and link it via `-lomp` or `-lomp5` or `-liomp` (depending on your system). Make sure not to use GNU OMP (`-lgomp`) as it won't work.

We're currently working on making Seq binaries easier to generate and more portable. The next release will probably tackle this issue.

[2020-07-07 18:18] inumanag commented on #141
Thanks for the suggestion!

In case you need it urgently, you can probably dynamically load C bzgip library via `cimport` and then use the underlying C API.

[2020-07-08 03:40] c5sire commented on #142
Hi @inumanag,

thanks for the notes. Looking forward to the next release.

[2020-07-09 16:14] jelber2 commented on #141
Thanks! I might give that a try.

[2020-07-09 16:14] #141 closed

[2020-07-09 16:15] jelber2 commented on #138
Sounds great!

[2020-07-09 16:54] inumanag commented on #141
FYI, https://github.com/seq-lang/seq/blob/master/stdlib/core/file.seq contains a standard file / gzip implementation. We also use underlying C API directly there.

[2020-07-18 07:45] jelber2 opened #143 "Seq and htslib 1.10.2"
Hi,

I was wondering if it is possible to compile `Seq` with htslib 1.10.2 instead of htslib 1.9? Just curious.

[2020-07-19 19:55] arshajii commented on #143
Seq re-implements a few of the structures from HTSlib, so as long as the layout of those structs (and the API of course) hasn't changed it should work -- I'll have to check if they actually changed anything though!

[2020-07-22 11:55] jelber2 commented on #143
Ok thank you very much!

[2020-07-22 11:55] #143 closed

[2020-07-23 04:34] inumanag commented on #143
Actually, the latest version (at least on `develop`) **requires** 1.10+, and it loads it via `dylob` mechanism (so you ensure that correct htslib is in `LD_LIBRARY_PATH` or seq `SEQ_HTSLIB` to the library location). Not sure if this is true in the last `master` release though?

[2020-08-08 09:58] newcounts opened #146 "How to view which attributes are contained in a Seq object?"
Hello, I now use seq-lang to process bam, but I can't find more seq-lang documentation. Because seq-lang is a subset of python, I have used the dir() and vars() functions in python to view those attributes, but it doesn’t seem to work. I want to know how to view the attributes of an object in  seq-lang.

Thank you

[2020-08-12 22:33] #142 closed

[2020-08-12 22:36] arshajii commented on #146
Hi @newcounts,
We're in the process now of creating documentation for the standard library, which should clearly list attributes and methods along with descriptions etc. This should be included with the next major release, which we're hoping to have done by the end of the month.

Adding `dir()` and `vars()` functions though is actually doable and probably a good idea; in our case these would be kn

[2020-09-08 10:24] jelber2 opened #149 "Compiling works with Seq 0.9.7 fails with Seq 0.9.10 and gives hidden symbol `pthread_atfork'"
# Seq 0.9.7
    gcc -L/home/jelber2/.seq/ -o fqcnt_py2_rfq_new_seq fqcnt_py2_rfq_new_seq.o -no-pie -lseqrt -lomp -lz
    Success!

# Seq 0.9.10
    gcc -L/home/jelber2/sandbox/biofast-data-v1/seq-deploy/lib/seq/ \
    -o fqcnt_py2_rfq_new_seq fqcnt_py2_rfq_new_seq.o -no-pie -lseqrt -lomp -lz
    /usr/bin/ld: fqcnt_py2_rfq_new_seq: hidden symbol `pthread_atfork' in
    /usr/lib/x86_64-linux-gnu/lib

[2020-09-09 20:42] inumanag commented on #149
Hi @jelber2

We are now shipping with our internal OpenMP library. Can you try linking to `libomp.dylib/so` from `SEQ_PATH/lib/seq`?

[2020-09-10 07:08] jelber2 commented on #149
`libomp.dylib/so` does not appear to be in the directory `seq-deploy/lib/seq`?

    $ LD_LIBRARY_PATH
    /home/jelber2/sandbox/biofast-data-v1/seq-deploy/lib/seq:

    $ echo $SEQ_PATH
    /home/jelber2/sandbox/biofast-data-v1/seq-deploy/lib/seq/stdlib

    $ echo $PATH
    /home/jelber2/sandbox/biofast-data-v1/seq-deploy/bin:/home/jelber2/bin/minimap2:/opt/wine-stable/bin:/home/jelber2/miniconda

[2020-09-10 10:53] jelber2 commented on #149
My apologies, I didn't use the install.sh script for version 0.9.10. Now it finds `-lomp`, but I still get

    gcc -L/home/jelber2/.seq2/lib/seq/ -o fqcnt_py2_rfq_new_seq fqcnt_py2_rfq_new_seq.o -no-pie -lseqrt -lomp -lz
    /usr/bin/ld: fqcnt_py2_rfq_new_seq: hidden symbol `pthread_atfork' in
    /usr/lib/x86_64-linux-gnu/libc_nonshared.a(pthread_atfork.oS) is referenced by DSO
    /usr/bin/ld:

[2020-09-15 14:44] parlar opened #150 "documentation?"
Just discovered seq-lang, good stuff!!

I did not find any info on what libraries are actually available, what functions, classes. Some examples of working with vcf/bcf files would be very helpful.  Since it is a new tool/language it is understandable that documentation is lagging behind.

As I understand, only parsing of vcf/bcf files is implemented yet? (not writing)

[2020-09-15 17:53] arshajii commented on #150
Hi there,
Yes this is definitely one of our top priorities right now. We're planning to make the next major release in the coming weeks, which will include auto-generated docs for the standard library (we'll add them to seq-lang.org). In the meantime though we can definitely add some VCF examples to the cookbook/tutorial -- it's a newer feature so we haven't gotten to documenting it fully yet. Rig

[2020-09-17 13:05] parlar commented on #150
Thanks, looking forward to the next release!

[2020-10-02 18:21] kkasra12 opened #151 "the links in readme are wrong"
the links in readme are pointing to seq-lang.org which are not correct they must point to docs.seq-lang.org

[2020-10-02 19:05] arshajii commented on #151
We just put up our new website at https://seq-lang.org and moved the old site to https://docs.seq-lang.org. Both are working now on my side -- is it still not working for you?

[2020-10-02 19:17] kkasra12 commented on #151
yes both of them are working but check [this file](https://github.com/seq-lang/seq/blob/develop/README.md) where you have written `Learn more by following the tutorial or from the cookbook` those two links will raise 404 error.

[2020-10-02 20:16] arshajii commented on #151
Ah, good point -- I just updated it. Thanks for pointing that out!

[2020-10-02 20:18] kkasra12 commented on #151
thanks

[2020-10-02 20:18] #151 closed

[2020-10-10 21:11] ghuls opened #152 "Unsupported Kmer value defaults to A"
All unsupported Kmer values default to A. IUPAC also does not seem to be supported (which is fine as long as it does not convert them implicitly to A).

[code]

Output:
[code]

[2020-10-13 18:05] ghuls opened #153 "Use python3 syntax: eg. for print"
Use python3 syntax: eg. for print. Now `print('a')` also prints `(a)` instead of just `a`.

Also https://github.com/seq-lang/seq/blob/develop/stdlib/getopt.seq is from python 2.7 instead of python 3. argparse is a bit nice to use: https://docs.python.org/3/library/argparse.html

[2020-10-13 18:40] inumanag commented on #153
Hi @ghuls ,

We plan to address this soon: we will support both print as a statement and as a function (the lack of print statement is something that I personally really hate in Python 3, so it will be supported as well).

argparse is certainly better, and is definitely planned for later releases. Currently we don't have enough manpower to implement that sooner (porting getopt was trivial, but arg

[2020-10-14 06:46] jelber2 commented on #149
Update

The following command worked

`gcc -L/home/jelber2/.seq2/lib/seq/ -o fqcnt_py2_rfq_new_seq fqcnt_py2_rfq_new_seq.o -no-pie -lseqrt -lpthread -lomp`

[2020-10-14 06:46] #149 closed

[2020-10-14 06:51] jelber2 commented on #138
Just checking if copy=False has been enabled or not in 0.9.10? As far as I can tell it has not been enabled.

[2020-10-14 12:29] ghuls commented on #153
@inumanag Seq seems like an interesting language.

Is there a better way (than Kmers in a list) to check if a certain read matches the big list of Kmers with hamming distance of 1 or less?

The current version seems quite slow (27 seconds for the first 10000 reads).

[code]

[2020-10-14 17:26] inumanag commented on #153
Hi @ghuls

1) We have `optional[T]` type which can be either `None` or some value (that you can access via `~var`). The next release will bring a None type more similar to Python's `Optional[T]`.
2) How many barcodes do you have? Also, how are you compiling this program (what command do you use?)

[2020-10-14 17:56] ghuls commented on #153
1. Thanks for that info.
2. I have 737280 barcodes.
I run the program like this:
```seqc find_barcodes.seq```

Also how can parallelism be added?

I assume gzipping (when reading a FASTQ file) happens in a separate thread.

Does seq allow running the read_barcode_whitelist_from_file function in parallel, and collect the results later?

Numba for example allows something like this with arrays: http

[2020-10-14 18:48] arshajii commented on #153
Hi,

Maybe a better approach is to flip this procedure; right now you iterate over (reads x barcodes), which is 737280 x 10000 > 7 billion Hamming distance calculations (maybe less by a factor of ~2 since you stop early).

Instead you could construct a `set` of k-mers from the whitelist and iterate over *Hamming neighbors*, checking if each is in the set. This would be 10000 x (3x16 + 1) < 500k se

[2020-10-14 18:51] arshajii commented on #150
Happy to inform you we've just released the first version of standard library documentation at https://docs.seq-lang.org/stdlib.

All (public) functions, classes, types and methods should be listed there. Most should have documentation / descriptions, although we're still in the process of adding more of that!

[2020-10-14 18:55] arshajii commented on #146
Happy to inform you we've just released the first version of standard library documentation at https://docs.seq-lang.org/stdlib.

All (public) functions, classes, types and methods should be listed there. Most should have documentation / descriptions, although we're still in the process of adding more of that!

The `seq` type in particular is documented here: https://docs.seq-lang.org/stdlib/bio/s

[2020-10-14 18:55] #146 closed

[2020-10-14 19:07] ghuls commented on #153
Thanks a lot.

Now it only takes 45 seconds for the whole FASTQ file (15 milion reads). My original code was still running from this morning on the whole file.

[2020-10-14 22:14] ghuls commented on #153
I got the code parallelized, but I assumed it would run each FASTQ file in a separate thread (+ a thread for gunzipping the FASTQ file), but it seems to work slightly different.

As you can see in the end, setting `OMP_NUM_THREADS` to different values gives almost the same wall time but user time multiplied (e.g. for 8 and 16). What are those 8 threads doing (as there are no more than 8 fastq file

[2020-10-15 01:49] arshajii commented on #153
There's no *simple* way right now to set the number of threads programmatically, although it can technically be done by calling the `omp_set_num_threads` OpenMP C function:

[code]

The code you posted definitely looks reasonable to me, and I'd expect it to be amenable to parallelization. How many cores/threads does the machine you're running on have?

[2020-10-15 02:37] inumanag commented on #153
@ghuls : Thanks for spotting this!

Two things:
- You are parallelizing `argv`, and based on your example, you only have 8 incoming files, so 16 threads won't be speeding up anything. You can also parallelize `bc_matches_whitelist` (you can nest parallel pipes, and we have `blocks` function that partitions the FASTQ in a large enough chunks exactly for this purpose). However, it should not be slow

[2020-10-15 07:14] ghuls commented on #153
The machine has 36 cores, so if I don't specify `OMP_NUM_THREADS`, it will run with 36 (and it will be slower than with 8 and use 40 minutes of user time instead of 9 minutes. I assumed seq would figure out it should only use 8 threads.

How would I parallelize `bc_matches_whitelist` in a useful way?

The I/0 should be pretty fast. The node I am using uses data from [GPFS](https://en.wikipedia.org

[2020-10-15 09:19] ghuls commented on #153
How to use define `nbr_reads`, `nbr_bc_0_mismatches` and `nbr_bc_1_mismatches` variable per fastq file (similar to global, but only for a specific function (`find_bc_in_fastq`))?

I also assume that just defining a variable global is not thread safe (e.g. when modifying it inside `process`). What is the best way to ensure thread safety for global or per function variables when being written from f

[2020-10-15 18:08] inumanag commented on #153
- We typically use a global list of items to define these for each file or block. It's obviously ugly but works (that's something we want to improve later on).
- Yes, atomic can be used for multiple variables.

[2020-10-16 15:41] ghuls commented on #153
Thanks.

I just played a bit around with parsing of a BAM file and noticed that the example is lacking some info: https://docs.seq-lang.org/cookbook.html#reading-sam-bam-cram

 - contig name can not be printed as you need `BAM(bam_file).contig[r.tid]` to get the contig name.
 - tags:
   - non-existing tags ==> segfault, so need to check.
   - tags that return an integer (or float) can not be print

[2020-10-17 19:59] arshajii commented on #153
Most of these are quirks of htslib, which we use for parsing BAM/SAM. But,

- We can probably just store the contig name in the `SAMRecord` upon its creation to avoid having to do this lookup.
- Last time I checked there was no way to get type info from tags in htslib (which is very annoying!) -- let me check again though.

[2020-10-17 20:02] arshajii commented on #152
Yes, this is known behavior. In the next major release there will be an exception raised when trying to create a k-mer with non-ACGT bases. Thanks for the report, though! Note that if you use the `kmers` or `kmers_with_pos` functions then non-ACGT bases will be skipped automatically during the k-merization.

[2020-10-17 20:03] #150 closed

[2020-10-18 22:32] ghuls commented on #153
Storing the contig name in the SAMRecord is not necessary for me.

I figured out a way to get type info from tags in htslib (see here to see how to convert the one byte type char to the correct type):
https://github.com/samtools/htslib/blob/2264113e5df1946210828e45d29c605915bd3733/sam.c#L3648-L3726

Basically get a pointer to the result returned by: `bam_aux_get(r.__raw__(), ptr[byte](__ptr__(tag_

[2020-10-19 17:34] arshajii commented on #153
Ah, good to know! This should be very easy to add then.

`bam_endpos` can also be added -- we'll include these in the next release.

[2020-10-23 01:01] arshajii commented on #153
Just pushed some additions related to your post above:

- https://github.com/seq-lang/seq/commit/ee3d3d4e615c355d1091e76a49ebfe1a0d6065dd: Adds `SAMRecord.endpos`, which calls HTSlib's `bam_endpos`
- https://github.com/seq-lang/seq/commit/56a2179d9cefa5e9506052da2292e2f497261f06: Adds `SAMAux.tag_type`, which returns a string representing the tag's type (e.g. `'int'`, `'float'`, `'array[int]'` etc

[2020-10-23 15:47] ekimb opened #156 "Length of Kmer type from argument?"
Hey guys,

I want to take in an argument for k-mer length of the Kmer type:

`len = argv[1]`
`type K = Kmer[len]`

Is this type of syntax not supported in Seq? Didn't find any info about this in the cookbook or the examples (seems like the length is usually manually typed in?)

[2020-10-24 17:54] arshajii commented on #156
Hey,

In the next major release (which will be coming soon!) we'll have a lot more support for flexible `Kmer`s. You'll be able to pass static parameters on the command line; e.g. something like `--param:kmer_len=12`, with `Kmer[kmer_len]` in the code. In the current version though they do have to be static, so I would suggest placing `Kmer` typedefs in a config file that can be imported.

This is

[2020-10-24 21:12] ekimb commented on #156
Awesome, thanks!

[2020-10-24 21:12] #156 closed

[2020-11-05 13:04] ghuls opened #159 "Expose setting gzip compression level support"
Exposing setting gzip copression level support in a user friendly way. in `core/file.seq`:

zlib supports setting/changing the compression level with `gzFile` and `gzsetparams`

http://www.zlib.net/manual.html

[2020-11-06 19:26] inumanag commented on #159
Hi @ghuls :

Yeah, this is something we should add— thanks for suggesting it! Just curious: does `gzopen('foo', 'wb9')` work or not?

[2020-11-06 21:48] ghuls commented on #159
Yes it works. I tried it yesterday with gzip compression 4 and 5 and the output files were of different size.

[code]

[2020-11-17 19:21] ghuls commented on #159
It would also be nice if htslib bgzip compression could be exposed and used easily as it supports compressing blocks in parallel (at least bgzip supports it).

[2020-11-27 22:02] brendanofallon opened #163 "libhts not found on new install"
Howdy, I just downloaded seq (v0.9.11) and tried to run a tiny program, but immediately ran into an issue when executing the program:

    $seqc prog.seq path/to/some.bam
    CError: libhts.so: cannot open shared object file: No such file or directory

I'm running CentOS Linux release 7.6.1810. Not sure how to fix this one, and couldn't find much in the documentation, but maybe I missed something.

[2020-11-28 00:46] markhend commented on #163
Not sure, but as you suspect, you might verify libhts is installed.
If you use yum or rpm on CentOS you could try something like `rpm -qf libhts.so`  or `yum whatprovides libhts.so` to see what package provides libhts and then verify it's installed.  A Samtools package might also be an option.

[2020-11-29 01:28] arshajii commented on #163
Hey @brendanofallon,
Installing [htslib](http://www.htslib.org) should fix this error -- it's basically the only library Seq uses that doesn't come pre-packaged with the binaries. Something like `yum install samtools-libs` seems like it should do the trick. As long as the library is in a standard path, Seq should find it on its own. Let me know if this works!

[2020-11-29 02:52] brendanofallon commented on #163
Thanks, sounds easy enough. Maybe worth mentioning this on the "getting started" page. Another wrinkle is that the options mentioned above won't work if the user doesn't have admin privs. libhts could be installed in an alternative location of course, but would seq find it?
 Would it be hard to bundle libhts (and maybe libomp) in the release download? That might help resolve these issues, and mayb

[2020-11-29 04:51] arshajii commented on #163
Yes we should definitely this to the docs. We're planning to include libhts in the next major release of Seq; it has a few dependencies that are a bit of a pain to deal with, which is why we've avoided it until now (OpenMP is actually included now, so it shouldn't have to be installed manually).

FYI if you install htslib to a non-standard path, you can simply set the `SEQ_HTSLIB` environment vari

[2020-11-30 00:47] #163 closed

[2020-12-07 11:56] dawe opened #164 "Dump objects to files"
Hi all, I’m about to explore seq language for the first time. What would you suggest as best strategy to dump objects into files so that they are readable by a third pure python program? I would like to fill a matrix of possible kmers out of my files and I would like to avoid text files as they will be quite large. Is picking supported?

[2020-12-07 15:04] markhend commented on #164
Yes. There is an example in the [workshop ](https://docs.seq-lang.org/tutorial/workshop.html)section of the docs. Hopefully that fits your use case.

[2020-12-07 18:04] arshajii commented on #164
Hey @dawe, we do support pickling right now (API should be the same as Python), although the pickle files are not yet compatible with Python.

When it comes to k-mers, they will be written in a 2-bit encoded format, so you could potentially read the pickle files in Python and decode them with e.g. [`struct.unpack()`](https://docs.python.org/3/library/struct.html#struct.unpack). Let me know if this

[2020-12-09 11:50] dawe commented on #164
@arshajii what would be the structure of a pickled dict[Kmer[7], int] then? Anyhow, since in the end I may want to produce something in a matrix format, I wonder if it would be feasible to use pydef/pyimport coupled with h5py and dump my data into hdf5 files.

[2020-12-09 15:18] dawe opened #165 "[Feature request] support more than 2 elements in core.builtin.zip()"
Hi all, I have a set of fastq split over 3 reads (R1, R2, R3) and I want to process them as in the [cookbook](https://docs.seq-lang.org/cookbook.html#reading-paired-end-fastq). I had an error as zip does not support more than two elements. For the time being I can process my data twice (R1  + R2 and R2 + R3), but I wonder if it would be possible to support more than two elements.

[2020-12-19 03:21] jalfje opened #168 "[Bug] sorted() builtin fails to compile on lists of objects without all comparison operators defined, even if "key" is passed"
(Seq 0.9.10)

Minimal working example:

[code]
Which produces the following error (on running `seqc test.seq`):
[code]
Implementing `Test.__lt__()` produces:
[code]
Implementing `Test.__ge__()` produces:
[code]
Implementing `Test.__gt__()` produces:
[code]
Implementing `Test.__le__()` produces:
[code]
Implementing `Test.__eq__()` finally results in no errors. Testing verifies that at runtime, `sor

[2020-12-19 03:36] jalfje opened #169 "[Bug] bool type cannot be used as dict key"
(Seq 0.9.10)

This is not so useful except when the `bool` is part of a tuple, e.g. `d = dict[tuple[int, bool], int]()`. Minimum working example:
[code]
Gives the error:
[code]

Currently a workaround is probably to extend the `bool` type, but it would be nice for that to be built-in.

[2020-12-21 18:18] arshajii commented on #169
Thanks for pointing this out; we'll definitely add it in the next release!

A workaround in the meantime is `extend` as you mentioned:

[code]

[2020-12-21 18:20] arshajii commented on #168
Hi,
This is a known issue with the current type system, and will be resolved in the next major release (0.10) with the new type system. We're planning to finalize this release in the coming weeks!

[2020-12-26 02:26] jalfje opened #172 "[Bug(?)] Functions returned by other functions cannot access enclosing environment"
Minimal working example:
[code]
This works in python, printing "2". However, it does not work in seq (with `seqc test.seq`), giving the error
[code]
Is this an intentionally unsupported feature of seq? If so, I'd argue that it should be included, so that functions can be used as first-class objects in a more useful way.

[2020-12-26 06:51] inumanag commented on #172
Hi @jalfje

We are actually thinking about this feature. However, the only way to do it is to actually capture a variable and return a partial function (e.g. `return bar(..., v)`). This might lead to some surprises (partial functions do not share the same type as normal function pointers as they have to hold the captured values; however, they behave the same way).

Would this approach work for you

[2020-12-27 01:20] jalfje commented on #172
@inumanag I think that that would work, though I'm not familiar with partial functions so I don't totally know how the semantics of that would look. Essentially, I want to be able to call a function and have it maintain some state between calls in a way that is invisible to the caller. To clarify my understanding, would such a partial function be usable like the following snippet? If so, then they

[2020-12-27 02:11] inumanag commented on #172
That actually would not work. Unlike Python, Seq has a concept of value and reference types. Integers are value types, so `bar(..., value)` would store the value, not the reference (all internal types and tuple/record types are values; classes are reference types). You would either need to box this type (e.g. `Box(value)`) or use a class type instead.

[2021-01-14 16:59] ghuls commented on #153
This comment should have `B2f(index)` instead of `B2i(index)`:
https://github.com/seq-lang/seq/blob/ee3d3d4e615c355d1091e76a49ebfe1a0d6065dd/stdlib/bio/bam.seq#L167

[2021-03-11 17:33] inumanag commented on #20
Done in #132

[2021-03-11 17:33] #20 closed

[2021-03-11 17:33] inumanag commented on #22
Done in #132

[2021-03-11 17:33] #22 closed

[2021-03-11 17:33] inumanag commented on #38
Done in #132

[2021-03-11 17:33] #38 closed

[2021-03-11 17:34] inumanag commented on #59
Done in #132.
Auto-deduction is removed from 0.10.

[2021-03-11 17:34] #59 closed

[2021-03-11 17:34] inumanag commented on #86
Done in #132.
libomp.so is now shipped with seq.

[2021-03-11 17:34] #86 closed

[2021-03-11 17:37] inumanag commented on #94
Mostly resolved in #132 .

We added support for compile-time conditionals, so you can do this to simulate a function that returns multiple types:

[code]

[2021-03-11 17:37] #94 closed

[2021-03-11 17:38] inumanag commented on #104
Resolved in #132 .

[2021-03-11 17:38] #104 closed

[2021-03-11 17:39] inumanag commented on #110
Resolved in #132

[2021-03-11 17:39] #110 closed

[2021-03-11 17:40] inumanag commented on #112
Resolved in #132.

Overloaded functions are not supported (class method, though, are). You can use instead `isinstance` that is a compile-time check and that will have the desired effect:

[code]

[2021-03-11 17:40] #112 closed

[2021-03-11 17:42] inumanag commented on #120
Resolved in #132 . There is new `Slice[start: Optional[int], stop: Optional[int], step: Optional[int])` for this purpose.

[2021-03-11 17:42] #120 closed

[2021-03-11 17:43] inumanag commented on #122
This issue is stale. Closing it for now.

[2021-03-11 17:43] #122 closed

[2021-03-11 17:44] #123 closed

[2021-03-11 17:45] inumanag commented on #125
Resolved in #132

[2021-03-11 17:45] #125 closed

[2021-03-11 17:46] inumanag commented on #126
Fully resolved in #132

[2021-03-11 17:46] #126 closed

[2021-03-11 17:46] inumanag commented on #127
Resolved in #132

[2021-03-11 17:46] #127 closed

[2021-03-11 17:46] inumanag commented on #134
Resolved in #132

[2021-03-11 17:46] #134 closed

[2021-03-11 17:47] inumanag commented on #152
Resolved in #132  (throws an exception now).

[2021-03-11 17:47] #152 closed

[2021-03-11 17:48] inumanag commented on #153
`print` function landed in #132. `print` statement is still supported as `print ` (note the space).

[2021-03-11 17:48] #153 closed

[2021-03-11 17:50] inumanag commented on #168
Fixed in #132

[2021-03-11 17:50] #168 closed

[2021-03-11 17:50] inumanag commented on #169
Fixed in #132

[2021-03-11 17:50] #169 closed

[2021-03-12 23:51] ghuls commented on #156
@arshajii Any examples how it can be used with the new type system?

[2021-03-12 23:59] ghuls commented on #153
@inumanag
This is not fixed yet:

[2021-03-13 01:20] ghuls opened #201 "Improve cloning speed of https://github.com/seq-lang/Tapir-LLVM"
Improve cloning speed of https://github.com/seq-lang/Tapir-LLVM by fetching only commits from 2020 and later.
Alternatively `-depth 1`could be used.

[code]

[2021-03-13 03:37] inumanag commented on #153
Fixed now on #132 . Thanks.

[2021-03-18 12:05] ghuls commented on #159
zlib-ng has a major new release:
https://github.com/zlib-ng/zlib-ng/discussions/871

In my tests minigzip of zlib-ng is twice faster for decompressing a FASTQ that gzip and 4 times faster when compressing a FASTQ file.

[2021-03-19 16:54] inumanag commented on #118
Closing this issue due to inactivity.

This feature won't be considered for some time due to its complexity.

[2021-03-19 16:54] #118 closed

[2021-03-19 21:52] inumanag commented on #172
Fixed in #132.

Capture is slightly different than in Python: value (tuple) types are copied, not referenced when captured. Other types behave as in Python.

[2021-03-19 21:52] #172 closed

[2021-03-19 21:52] inumanag commented on #201
Thank you! Resolved in #132.

[2021-03-19 21:52] #201 closed

[2021-03-19 21:53] inumanag commented on #159
zlib-ng has been added to #132.

[2021-03-19 21:53] #159 closed

[2021-03-19 22:30] arshajii commented on #164
Sorry for the delay on this. If you want to read the `dict[Kmer[7],int]` with an external program, I would recommend pickling each item individually:

[code]

Then you can just read the binary contents, which would be 2 bytes (padded) for the 2-bit encoded k-mer and 8 bytes for the integer. An alternative is to use Python directly as you suggest, although there's no easy conversion for k-mers, so

[2021-03-19 22:30] #164 closed

[2021-03-20 16:39] inumanag commented on #165
Resolved in #132 . Thanks for proposing this!

[2021-03-20 16:39] #165 closed

[2021-03-21 00:41] inumanag commented on #18
Implemented in #132

[2021-03-21 00:41] #18 closed

[2021-03-21 00:42] inumanag commented on #140
This is postponed for later. The current "canonical" solution is to implement IR pass in C++.

[2021-03-21 00:42] #140 closed

[2021-03-21 01:22] inumanag commented on #138
`copy=False` is added in #132  that is soon to be merged to the main branch.

[2021-03-21 01:22] #138 closed

[2021-06-03 03:53] xiangmy opened #218 "Fail to run examples from the tutorial"
Hi,

Thanks for the great work! The example from the [pipeline section](https://docs.seq-lang.org/tutorial/tutorial.html#pipelines) in the tutorial fails to compile and run. The example code is like following:
[code]
And the error was like:
[code]

I suppose this is because the `split()` is only the built-in method for `str` but not a built-in function. Do you have any advice on how to make this e

[2021-06-03 04:13] markhend commented on #218
Hi Mingyuan! Glad you are trying it out. I have been working through some of the examples as well. Try adding `from bio import *` at the top. split() is in bio.builtin. This will help with some of the other examples too.

[2021-06-03 04:54] xiangmy commented on #218
Hi @markhend ,

Thanks for the help! I'm closing the issue.

Thanks,
Mingyuan

[2021-06-03 04:54] #218 closed

[2021-06-04 07:39] xiangmy opened #219 "Parallel benchmark programs"
Hi,

I'm playing with the parallel feature with the seq library. However, I don't know where I can find the benchmark programs for the parallel feature. I tried to "grep" `||>`, and I only found an app named "cora" in `test/apps` as well as a test program for the parallel feature. So, I'm wondering whether there is any change I can obtain the benchmark programs mentioned in the paper, specifically

[2021-06-04 14:45] markhend commented on #219
Hi Mingyuan,
There is an older benchmarks [repo](https://github.com/seq-lang/benchmarks) which includes the programs mentioned in that paper. Please note, since Seq is young and evolving, those programs would likely require updating in order to run on the latest release, v0.10.1.

You might be interested in the [Workshop](https://docs.seq-lang.org/tutorial/workshop.html) which has a nice walk-thro

[2021-06-05 03:58] xiangmy commented on #219
Hi @markhend,

Thanks for the pointer! It saves my day.

Thanks,
Mingyuan

[2021-06-12 02:59] Nanguage opened #220 "Embedding to Python"
It's possible to embedding seq-lang to Python? Just like [numba](https://numba.pydata.org/numba-doc/latest/index.html) and [taichi](https://github.com/taichi-dev/taichi).

The syntax of seq-lang is very similar to Python, so I think maybe it's possible to compile the source code in a Python function to seq-lang, for example:
[code]

If it's possible, it's will more convenient for Python users in t

[2021-06-13 19:15] arshajii commented on #220
Hi @Nanguage, thanks for the suggestion. This is definitely something on our todo list. In theory it shouldn't be too difficult, and we have an idea of how to implement it. We're in the process now of generalizing/expanding Seq w.r.t. Python compatibility and interoperability, and plan to look more into this soon.

[2021-06-21 10:39] xiangmy commented on #219
Hi,

Thanks for the pointer of seq benchmark repo as I'm studying the optimization techniques for seq. One weird thing happened when I was comparing the older version of seq from the VM provided in [Zenodo](https://zenodo.org/record/3374036) with the latest version (`v0.10.1`). The performance of the latest version is **35x slower** than the older one. I test the performance with `16mer/16mer.seq`

[2021-06-21 11:46] arshajii commented on #219
Hi @xiangmy — new versions of Seq compile in debug mode by default, so you need the `-release` flag to enable optimizations. Are you using this flag on the newer version? The old VM version compiled in release mode by default.

[2021-06-21 13:18] xiangmy commented on #219
Hi @arshajii ,

Thanks for the reply! I'm following [instructions from the github page](https://github.com/seq-lang/seq/blob/develop/docs/sphinx/build.rst#building-from-source), so I believe it's in the release mode. BTW, I attached the 'grep' results from the build directory.
[code]

Thanks,
Mingyuan

[2021-06-21 13:30] arshajii commented on #219
Oh sorry, I meant you should use `-release` when actually invoking `seqc`, as in `seqc build -release ...`.

[2021-06-21 13:51] xiangmy commented on #219
Hi @arshajii ,

Thanks for the help. The latest version still runs **2x slower** than the old version. (I ran both versions again to make sure they were running under the same condition. And the old version produced similar results, so I won't paste them.)
[code]
The LLC miss rate is slightly higher than the old one's. Does this relate to the prefetch stride tuning?

[2021-06-21 14:13] arshajii commented on #219
In that case, this is quite surprising. This is the code you're running, right?

[code]

[2021-06-21 14:20] xiangmy commented on #219
Hi @arshajii ,

I use the same program from the [VM](https://zenodo.org/record/3374036). The for loop at the bottom is different (`for s in ksplit(l, k, 1):`). The complete code is like following:
[code]

[2021-06-21 14:29] arshajii commented on #219
Would it be possible to time a simplified version that doesn't include reverse complementation? This might let us identify the issue. e.g.

[code]

There shouldn't be any prefetching in this benchmark actually, and the memory usage should be low and constant (I wonder if this is the same between versions?).

[2021-06-21 14:41] arshajii commented on #219
Actually I think I know what the difference is. The old version would not copy the internal buffer of `File` when returning the line -- this works fine most of the time, but is invalid if the line is stored somewhere and used later. We should actually have an IR pass to detect cases like this and avoid wasteful copying; this is a recurrent theme when reading sequences from disk as well.

If this t

[2021-06-21 15:23] xiangmy commented on #219
Hi @arshajii ,

I think you are correct. The toy benchmark (HG00123_small.txt) is so small that it doesn't make any difference in both versions. However, I do observe a 5x slower in the new version if I run with HG00123_5mil.fq (786MB). Moreover, if I add `f.close()` at the end of the code, with the simplified version you mentioned above, the old version ran for 3.7s and the latest one ran for 4.3

[2021-06-21 16:06] arshajii commented on #219
I see; the 5x could be from the GC, since the old version would never even have to invoke the GC whereas the new version does an allocation for each line of the input file. Usually this overhead is comparatively very small in real-world applications, where reading/copying lines would be a very small fraction of the runtime. Some of these early benchmarks are so simple though that things like this

[2021-06-21 16:13] xiangmy commented on #219
Thanks for the clarification. I'm closing the issue.

[2021-06-21 16:13] #219 closed

[2021-06-21 16:17] markhend commented on #219
Thanks for the detailed information Mingyuan.

[2021-07-21 14:56] jamestwebber commented on #220
Just saw the paper and was intrigued, and this issue was top of my mind. Calling Python from Seq is great, but calling Seq from Python would be even better :D That way I can keep my existing Python pipeline and only speed up the parts that are particularly painful.

[2021-07-21 15:15] jamestwebber opened #223 "print should be a function!"
(sorry, I just had to)

Python 2 has been deprecated for 1.5 years now. The "make print a function" PEP is 15 years old! I don't think there's any justification for resurrecting this relic in a new language, if you want it to feel like (modern) Python. It will only serve to confuse people.

[2021-07-21 15:18] jamestwebber commented on #223
After a search I found [this comment](https://github.com/seq-lang/seq/issues/153#issuecomment-796921274) so I guess you support _both_ syntax? At the very least I would recommend updating your docs and examples to encourage the python 3 syntax, but really I think it'd be better to deprecate the python 2 syntax.

[2021-07-22 09:37] Juke34 opened #224 "conda packaging"
Hi,
I'm thinking to make it available through conda.
see here https://github.com/bioconda/bioconda-recipes/pull/29660

I would need to know if deps.sh statically compiles dependencies in. Could you let me know?

[2021-07-22 15:03] arshajii commented on #224
Hi @Juke34, thanks for undertaking this daunting task 😄 Let me know how I can help.

Everything in deps.sh is statically compiled and linked directly to libseqrt _except_ for OpenMP, which we package and ship as a shared library. For the purposes of Conda, though, maybe we can just list (LLVM's) OpenMP as a dependency.

The Seq installation itself consists of the following components:

- `libseq.s

[2021-07-22 15:08] arshajii commented on #223
Hey @jamestwebber, yes the `print` statement is mainly an artifact of early versions of Seq which we kept around. We will probably phase it out over upcoming releases, and the docs should definitely be updated to use the function version!

[2021-07-24 03:33] lhui2010 opened #225 "Executing Seq fail after install"
Hello,

I installed seq with recommended command `/bin/bash -c "$(curl -fsSL https://seq-lang.org/install.sh)"`. The install exited with no problem, and PATH were also added. But when executing, it reported errors with `symbol binding failed`.  Is there something wrong with library linking or just not compatible with my OS?

Thanks
Hui

--

OS: OS X 10.11.6.

[code]

[2021-07-24 14:53] arshajii commented on #225
Hi @lhui2010 -- we compile the pre-built binaries on GitHub actions using their [virtual environments](https://github.com/actions/virtual-environments). Their macOS environment uses macOS 10.15 / Catalina, so it's possible the older 10.11 you're using will not work.

It may be possible to support these older versions on our end in future releases -- need to look into that.

In the meantime you cou

[2021-07-24 15:51] lhui2010 commented on #225
Thanks!Hui-------- 原始邮件 --------发件人： "A. R. Shajii" ***@***.***>日期： 2021年7月24日周六 晚上10:53收件人： seq-lang/seq ***@***.***>抄送： Hui ***@***.***>, Mention ***@***.***>主    题： Re: [seq-lang/seq] Executing Seq fail after install (#225)
Hi @lhui2010 -- we compile the pre-built binaries on GitHub actions using their virtual environments. Their macOS environment uses macOS 10.15 / Catalina, so it's possible t

[2021-07-25 23:37] jpmam1 opened #226 "https://seq-lang.org/demo docker instance failed"
Demo docker instance at https://seq-lang.org/demo is throwing an error.

[code]

[2021-07-26 00:31] arshajii commented on #226
Thanks for the report, @jpmam1. Somehow the JSON log file had grown to nearly 15GB. I disabled logging and re-started the server; should work now!

[2021-07-26 00:31] #226 closed

[2021-07-27 01:54] MuhammedHasan opened #227 "Support for vcf file"
Dear Seq Team,

This is awesome project. Thanks for your effort.

Can you provide support reading and processing vcf files  (something similar to https://github.com/brentp/cyvcf2)?

[2021-07-27 21:42] arshajii commented on #227
Hi @MuhammedHasan, thanks for the kind words. We actually already support VCF, e.g.

[code]

More info about the VCF records here: https://docs.seq-lang.org/stdlib/bio/vcf.html#bio.vcf.VCFRecord. Let me know if this is what you were looking for!

[2021-07-28 18:15] inumanag commented on #223
Hi @jamestwebber,

Yes, print right now supports both modes, and we'll update the docs soon (`print` function landed quite recently). `print ` (note the space) is a statement, and it will most likely stay that way for the foreseeable future. So `print(1, 2)` is not the same as `print (1, 2)`.

We will probably add a "strict Python 3" mode (or "Py2 compatibility mode") for people who don't like thi

[2021-07-28 18:30] jamestwebber commented on #223
I still type `print ` via muscle memory sometimes, but I don't think it matters how we feel about it–a consistent interface is _way_ more important.

[2021-07-29 18:18] cjneely10 opened #228 "Current status of OOP"
Good morning,

I must say I love this project - I have already started converting over some python scripts, and the speed increase is pretty amazing. This is barely an issue, so please feel free to close it out quickly.

I wanted to inquire about the OOP concepts (inheritance, dynamic dispatch, etc.) planned for the language. It would be really amazing to have these tools available!

Thanks!

[2021-07-30 14:14] arshajii commented on #228
Hi @cjneely10, that's great to hear. We do want to look into OOP at some point soon -- supporting it in the backend should be quite easy; we would just implement vtables or something like this. Supporting it in the type checker is somewhat more complicated, and might require some foundational changes, which is mainly why we've postponed it.

[2021-08-02 17:02] saulobritto opened #229 "Illegal instruction (core dumped)"
Hi,

I'm trying to install and use seq and I'm facing a problem that I could not solve.
I'm trying to install with the default command:
/bin/bash -c "$(curl -fsSL https://seq-lang.org/install.sh)"

stderr:
  _% Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   147  100   147    0     0

[2021-08-02 17:15] saulobritto commented on #229
Additional info:

OS: Ubuntu 20.04.2 LTS
OS Type: 64-bit

[2021-08-02 18:48] arshajii commented on #229
Hey @saulobritto -- does `seqc --help` work without error? The pre-built binary _should_ work on your system...

[2021-08-02 18:56] saulobritto commented on #229
Same error. I tried it and --version too.
![image](https://user-images.githubusercontent.com/50638088/127909990-c92df505-375d-47f2-b603-3f1b7781c4d3.png)

[2021-08-02 19:00] markhend commented on #229
What does `seqc --version` show?

[2021-08-02 19:05] saulobritto commented on #229
![image](https://user-images.githubusercontent.com/50638088/127910797-641cfed4-0bfa-45fe-99f8-68fddbcce3be.png)

Same error.
I'm afraid it's something stupid of me, something basic I haven't done, despite following the default install instruction.

[2021-08-03 01:47] inumanag commented on #229
Hi @saulobritto,

Can you please share the output of `cat /proc/cpuinfo`? This might be related to out build system (your CPU might not support some SSE intrinsics).

[2021-08-03 10:04] saulobritto commented on #229
Sure. I even thought about this possibility at the beginning, but I ended up forgetting and I didn't put the information.
My CPU is really not new, let's say. Haha

_processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 23
model name	: Intel(R) Core(TM)2 Quad CPU    Q8300  @ 2.50GHz
stepping	: 10
microcode	: 0xa0b
cpu MHz		: 2003.000
cache size	: 2048 KB
physical id	: 0
siblings	: 4
core

[2021-08-04 10:39] ghuls commented on #219
@arshajii does this copying of lines also happen when reading records of a FASTQ file with `FASTQ()`? I have some code that does some record oriented processing of FASTQ files, so if copying of lines can be avoided, it would be great.

[2021-08-08 17:31] inumanag commented on #229
No SSE 4.2--- that's probably the reason.

For now, I'd recommend either building from source (currently PITA; will be massively simplified by the end of the month) or waiting for a new release (again, the end of the month) where we'll try to turn SSE4 off.

[2021-08-09 10:55] saulobritto commented on #229
Ok, fine. Thanks for your support and attention!

[2021-08-09 10:55] #229 closed

[2021-08-13 08:50] RenzoTale88 opened #231 "Running seq on WSL2"
Hi,
I've installed seq using the command line specified on the website. However, when I run it I come across an Illegal instruction error:
[code]

I've seen the issue #229 and I've checked the cpu info, which are as follow:
[code]
The cpu is admittedly old, but it does support sse4.2. Is there any other reason why it should not work?
Thank you in advance for your help,
Andrea

[2021-08-16 13:34] arshajii commented on #231
Hi @RenzoTale88 — would it be possible to run `seqc` in gdb to see what instruction causes the issue (e.g. as described [here](https://stackoverflow.com/a/40223712))? Then we can fix it on our end in the next release.

[2021-08-22 18:30] arshajii commented on #231
FYI we think we know what's causing this, and should be fixed in the next release in a few days.

[2021-08-23 11:58] arshajii commented on #231
This should be fixed in 0.10.3 (released yesterday). Feel free to reopen if the issue persists.

[2021-08-23 11:58] #231 closed

[2021-08-23 12:00] arshajii commented on #229
Hi @saulobritto this should be fixed in 0.10.3 (released yesterday). Feel free to reopen if the issue persists.

[2021-08-25 02:35] rutlang opened #233 "Levenshtein distance"
I can't seem to replicate the result of @ with the align function (I'd like to get the Levenshtein distance but do not need CIGAR). a=0 b=1 gapo=1, as the manual indicated, gives me values different from those of @.

[2021-08-25 03:38] arshajii commented on #233
Hi @rutlang, are you passing `gape=1` as well? e.g.

[code]

[2021-08-25 03:38] markhend commented on #233
I messed with this a bit and got it to seemingly work with a=0, b=1, gapo=0, gape=1
[code]

[2021-08-27 02:38] ppreshant opened #234 "Windows compatibility of seq-lang?"
Does seq-lang work on windows or do I need to dual boot or put in a virtual machine for Linux to run this software?

If it works on Windows, is there a recommended way to install it? I can imagine doing git clone, a roundabout way to [build](https://docs.seq-lang.org/build.html) from source?

I'm new to genomics analysis, encountered this language and was interested to give it a try on my Windows

[2021-08-28 17:02] rutlang opened #235 "importing C libraries"
How are functions from third-party or user C libraries imported when the arguments include structs or enums?

[2021-08-29 05:30] arshajii commented on #235
Hi @rutlang, basically the following:

- For structs, you can use the corresponding tuple. For example, `struct { double a; long b; bool c }` corresponds to `Tuple[float, int, bool]`. You can use `i32` for 32-bit int etc. (`int` and `float` in Seq are actually 64-bit). There is also `Ptr[T]` for a `T*` in C.
- For enums, you can just pass an `i32` containing the enum value. For example, if you hav

[2021-08-30 07:55] rutlang commented on #235
Thanks @arshajii. Follow up question: if the imported C functions require pointer arguments, how does one provide the addresses of Seq variables (different types, including strings, tuples (for structs), lists (for arrays?), and perhaps even ints) in the function call?

[2021-08-30 14:19] markhend commented on #235
Hi @rutlang. For strings, the tutorial has an [example ](https://docs.seq-lang.org/tutorial/primer.html#foreign-function-interface-ffi).

[2021-08-30 14:28] arshajii commented on #235
You can use `__ptr__(x)` to get a pointer to variable `x`, similar to `&x` in C.

So e.g.

[code]

For strings, you can use `.c_str()` to get a `char*` you can pass to C functions. If you want to get the underlying pointer from a list you can also use `.arr.ptr`. Let me know if this all makes sense, or there are any other cases you were wondering about.

[2021-08-30 15:06] markhend commented on #235
Is this the recommended way to handle the case where the variable is an int in C and i32 in Seq?
[code]

[2021-08-30 15:20] arshajii commented on #235
Yes that's right. You can also create the pointer directly:

[code]

[2021-09-08 16:11] rutlang commented on #235
Thanks @arshajii. How to import from_ptr()?

[2021-09-08 19:17] markhend commented on #235
Hi @rutlang. Where is the from_ptr() function? Does this [FFI info ](https://docs.seq-lang.org/tutorial/primer.html?highlight=library#foreign-function-interface-ffi) help?

[2021-09-08 19:43] arshajii commented on #235
There is an `str.from_ptr()` which converts a C-string back to `str`, e.g. `str.from_ptr('abc'.c_str())`. This should be usable directly without imports -- were you asking about this?

[2021-09-10 22:04] #227 closed

[2021-09-13 21:23] markhend commented on #233
Hi @rutlang. Would it be OK if we closed this issue?

[2021-09-14 02:40] rkimoakbioinformatics opened #237 "Compiling on M1 Mac"
Hi, I'm trying to run seq on M1 MacBook Air. I have tried the following.

1. `./scripts/deps.sh 2` on the native terminal.

This gave an error "No rule to make target `none.o', needed by `libasmrun.a'.  Stop.", which seems to be related to OCaml (https://github.com/rescript-lang/rescript-compiler/issues/4997).

2. /bin/bash -c "$(curl -fsSL https://seq-lang.org/install.sh)" on the Rosetta-based te

[2021-09-14 03:32] markhend commented on #237
Hi @rkimoakbioinformatics. Thanks for giving it a try. If you are just wanting to install and run, `/bin/bash -c "$(curl -fsSL https://seq-lang.org/install.sh)"` should get you up and running. `deps.sh` is to install the dependencies if you would like to go down the route of [building from source](https://docs.seq-lang.org/build.html?highlight=deps%20sh#building-from-source).

Since `seqc run` is

[2021-09-14 13:26] arshajii commented on #237
This particular issue should be resolvable if you just set `DYLD_LIBRARY_PATH`:

[code]

Let me know if this works!

[2021-09-15 01:54] rkimoakbioinformatics commented on #237
@arshajii That worked on the rosetta terminal (M1 MacBook). Thanks. Hope M1 Mac will be able to run seq natively in the future!

[2021-09-15 01:54] #237 closed

[2021-09-15 01:55] rkimoakbioinformatics commented on #237
@markhend Oh and thanks for your reply.

[2021-09-16 17:10] rutlang commented on #233
Hi @markhend, yes, the (non-) issue was resolved.  a=0, b=1, gapo=0, gape=1 was exactly what I was looking for. Thanks.

[2021-09-16 20:09] #233 closed

[2021-09-26 12:28] #225 closed

[2021-10-01 07:22] chklopp commented on #218
I have the same issue and the correction generates another error :

<pre>dna = s'ACGTACGTACGT'  # sequence literal

# (a) split into subsequences of length 3
#     with a stride of 2
dna |> split(..., 3, 2) |> echo

# (b) split into 5-mers with stride 1
def f(kmer):
    print kmer
    print ~kmer

dna |> kmers[Kmer[5]](1) |> f
</pre>
produces : <pre>kmer2.py:5:8: error: identifier 'split' not foun

[2021-10-01 07:31] chklopp opened #244 "Example not working"
I have the same issue as [#218](https://github.com/seq-lang/seq/issues/218) and the correction generates another error :

<pre>dna = s'ACGTACGTACGT'  # sequence literal

# (a) split into subsequences of length 3
#     with a stride of 2
dna |> split(..., 3, 2) |> echo

# (b) split into 5-mers with stride 1
def f(kmer):
    print kmer
    print ~kmer

dna |> kmers[Kmer[5]](1) |> f
</pre>
produces :

[2021-10-01 12:40] markhend commented on #244
Hi @chklopp - Thanks for reaching out. With version v0.11.0 we updated the syntax for calling some built-in functions, including kmers, to be more pythonic. You can check your version with `seqc --version`. The last line would now be:
`dna |> kmers(k=5, step=1) |> f`

We've updated the docs as well: https://docs.seq-lang.org/tutorial/tutorial.html#pipelines

[2021-10-01 12:43] chklopp commented on #244
Works! Thank you.

[2021-10-01 12:43] #244 closed, assigned to nobody

[2021-10-28 03:11] orangeSi opened #246 "undefined reference to seq_alloc when seqc build"
hello, eveyone. when I test the demo code fib, ```seqc run``` works, but ```seqc build``` get this error:
[code]

[2021-10-28 09:22] RasmusEdgar commented on #224
I have created a conda package using the prebuilt binary.
The recipe and dependent scripts can be found here: https://github.com/RasmusEdgar/seq-lang-conda-recipe

A problem I could not find a workaround to:

LD_LIBRARY_PATH needs to be set to include lib/seq when activating the environment where seq-lang is installed. If not set it was not possible to compile binaries from the seq code. See activ

[2021-10-28 14:32] markhend commented on #246
Hi @orangeSi! I suspect you need to add a Seq path to LD_LIBRARY_PATH. Try ` export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/home/ubuntu/.seq/lib/seq`

[2021-10-28 15:51] arshajii commented on #224
Thanks a lot for this @RasmusEdgar -- will check it out soon.

The `LD_LIBRARY_PATH` issue should be resolvable on our end I believe when we're interfacing with clang. I'll look into this as well.

[2021-10-29 01:59] orangeSi commented on #246
yes, it works! Thanks!

I used https://seq-lang.org/install.sh to install ```seq```, so if add a notation  ``` add  export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:~/.seq/lib/seq to ~/.bashrc ``` to the ```install.sh```, will be better for the newbie.

[2021-10-29 04:26] markhend commented on #246
You're welcome. Thanks for the feedback. We want to make the installation process as smooth as possible.

[2021-10-29 04:26] #246 closed, assigned to nobody

[2021-11-08 17:23] samhorsfield96 opened #247 "Multiple definitions of functions during executable generation"
Hi,

I'm following the "Calling Seq from C/C++" example using the latest seq-lang release (v0.11.0) and generate a shared object, but when linking to the executable I get the following errors:

[code]

Calling ldd on the shared object file gives me

[code]

Would you be able to help with this if possible, please? I'm running this using Ubuntu 18.04 via WSL with gcc v 7.5.0 just for reference.

[2021-11-08 17:47] markhend commented on #247
Hi @samhorsfield96. Try changing the  `/path/to/seq/lib` to the specific path where the Seq shared libs are installed on your system. e.g. For me it is `/home/mhenders/.seq/lib/seq`. You could also consider setting the LD_LIBRARY_PATH variable (see [here ](https://github.com/seq-lang/seq/issues/246)for a brief discussion).

You may also need to try it without the `-no-pie` option, as shown [here](

[2021-11-09 10:11] samhorsfield96 commented on #247
Hi @markhend, thanks for such a speedy response. I am already linking directly to the seq lib directory (I changed it in the example just for readability). I am also already adding the seq lib directory to the LD_LIBRARY_PATH variable, and still run into the same issues.

I did try without ```-no-pie``` however I run into the below error:

[code]

[2021-11-09 16:27] markhend commented on #247
@samhorsfield96 I have been running the examples again and seeing the same issues as you - lots of 'multiple definition of' errors. I'm using Ubuntu (WSL) as well. Let us dig in a bit more to see if we can determine the root cause. Thank you.

[2021-11-09 22:52] markhend commented on #247
@samhorsfield96, I haven't determined root cause yet. I got a little closer. Perhaps this might help you.
[code]

[2021-11-09 23:46] certik opened #248 "Fails to build on Apple M1"
I used the following on Apple M1 MacBook Pro:
[code]
It's trying to compile x86 Linux assembly on macOS arm.

[2021-11-09 23:48] certik commented on #248
This error seems the same as in https://github.com/spack/spack/issues/26319.  In there it is recommended to use LLVM 12.0.1, which is exactly the version that Conda installed above.

[2021-11-10 00:20] certik commented on #248
The following patch makes it compile:
[code]

But when I try to compile a simple project, it fails with:
[code]

[2021-11-10 00:23] certik commented on #248
The last error can be mitigated by:
[code]

[2021-11-10 00:29] certik commented on #248
This seems to be a better patch:
[code]
Now it fails with:
[code]

I am going to leave it at this. It seems it's pretty close, but not quite there yet to work on M1.

[2021-11-10 05:34] markhend commented on #248
Hi @certik. Thanks for the efforts and information.

[2021-11-10 11:49] samhorsfield96 commented on #247
@markhend unfortunately I run into the same issue as you

[code]

[2021-11-10 11:54] samhorsfield96 commented on #247
@markhend compiling with the ```-c``` flag gets rid of the multiple definition errors, however ```foo``` is an object and not an executable

[code]

[2021-11-10 12:57] arshajii commented on #248
Hi @certik — actually I’ll have access to an M1 Mac in a day or two so I can help debug this.  Let me circle back with you then!

[2021-12-03 03:53] arshajii commented on #248
I did have a chance to look into this a bit more. The original build error is from OpenMP, and is resolved in newer versions, so that in itself isn't a huge issue. However, it seems LLVM itself still has some catching up to do when it comes to M1, since [exceptions aren't catchable in JIT mode](https://bugs.llvm.org/show_bug.cgi?id=49692) yet (see also [this](https://github.com/root-project/root/i

[2021-12-09 04:18] mauriceling opened #249 "Any potential clash with biopython"
Hi,

I am a little concerned with the import statement "from bio import *" as it is too similar to that of using Biopython - "from Bio import *"

[2021-12-10 23:01] markhend commented on #249
Hi @mauriceling,

Thanks for pointing this out. Are there specific name clashes you've experienced? I was trying to think through a scenario where the Seq language bio module may conflict with biopython or vice versa. I think biopython could be used successfully from within Seq if desired. e.g.
[code]
Seq does not allow `import *` from Python modules.

[2021-12-11 00:20] mauriceling commented on #249
Hi @markhend

OK, perhaps it is not a clash but the name is definitely inviting errors for a dyslexic person like me.

[2022-01-12 01:44] wbszhu opened #250 "error: cannot find magic 'matmul' in seq"
Hi，
I have tried to install it in this way
[code]
After doing it, everything is ok.
But when i run the code as below (test.seq):
[code]
test.seq
[code]

I got this error
[code]
looking forward to your reply.

[2022-01-12 04:34] markhend commented on #250
Hi. Try adding `from bio import *` at the top. The `@` operator in Seq when applied to sequence types, as in your example on line 4, does alignment. In general, you'll [need this import](https://docs.seq-lang.org/tutorial/tutorial.html#bio-specific-features) for bio-specific features.

[2022-01-12 06:43] wbszhu commented on #250
Hi,

Thanks for the reply, the problem has been solved!

Lu Zhang.

[2022-01-12 13:37] #250 closed, assigned to nobody

[2022-01-17 02:50] xinrcornelia opened #251 "index file from class FMIndex"
**Running Environment: seq is installed in another user's directory. And that user can successfully generate the .fai file.**

Hello, I used section2.seq to test building .fai file and output IOError:
'''
$ IOError: file ./xxx.fa.fai could not be opened
Raised from: std.internal.file.gzFile.__init__.3
.../local/lib/seq/stdlib/internal/file.seq:117:13
'''

Then i created .fai first and output Index

[2022-01-17 04:30] markhend commented on #251
Hi. What version of Seq are you using? (I'm using Seq version 0.11.0.)

How did you create the .fai file? As a troubleshooting step, you could download the files used in the [Workshop](https://docs.seq-lang.org/tutorial/workshop.html). There is an .fai file included. I just tried again with the curl command shown:
`curl -L https://www.dropbox.com/s/8lsngqvn0tzjn1o/data.tar.gz | tar zxf - -C .`

Wh

[2022-01-17 04:41] markhend commented on #251
You could also possibly try to build the index without using the .fai file. e.g.
`for record in FASTA(argv[1], fai=False):`

[2022-01-17 06:17] xinrcornelia commented on #251
Hi Mark, thank you for your reply!

I'm using version 0.11.0.  Fasta file could be parsing without .fai.

There is another question, does the magic method ___pickle__()_ in class _FMIndex_ will create a file for FM-Index? How can I use this method and find the result file?

[2022-01-17 16:24] markhend commented on #251
This [example ](https://github.com/seq-lang/seq/blob/37b58696a411ac5867320dd3647fe50b958d2605/test/apps/bwa/fastmap.seq#L100)in test/apps/bwa/fastmap.seq might help.

[2022-01-18 02:25] #251 closed, assigned to nobody

[2022-01-24 04:11] xinrcornelia opened #252 "Is it possible calling seq from python module?"
hi,  I want to call Seq's FMIndex.find() from an existing Python module (the python module is hard to translate to Seq Style).
Is it possible to implement it ?

the code would be like:
[code]

[2022-01-27 03:34] tcztzy opened #253 "llvm::sys::fs::F_None is removed in recent releases"
https://github.com/seq-lang/seq/blob/54451c3267b140f7e2073c05d3cf8080de688a8f/compiler/sir/llvm/llvisitor.cpp#L421
https://reviews.llvm.org/D101506
Maybe we can use `llvm::sys::fs::OF_None` instead?

[2022-01-27 15:23] markhend commented on #253
Thanks for the suggestion.

[2022-02-04 11:43] #252 closed, assigned to nobody

[2022-02-16 10:06] liqg opened #254 "Build an execution program not depending on the runtime libraries"
Could I use `seqc build` to build an execution program not depending on the runtime libraries, such as libomp.so libseqrt.so and libseq.so?

[2022-02-17 02:50] tcztzy opened #255 "Failed to build seq in Arch Linux"
I encounter several errors in Arch Linux. Arch Linux always used the latest version of LLVM, there were several API changes, such as #253 .

Do you have plans to publish AUR (Arch User Repository) package or update dependencies? I can contribute.

[2022-02-18 10:50] liqg commented on #254
I found an alternative method that create an appimage file using [linuxdeploy](https://github.com/linuxdeploy/linuxdeploy) and [appimagetool](https://appimage.github.io/appimagetool/) like this:
[code]
`a.seq` just a simple seq code
[code]

`a.png` is an icon file.

This will generate an appimage file, `a-x86_64.AppImage`, and get the right result by running it.
[code]

[2022-04-19 11:36] ghuls opened #256 "New parser in seq 0.11.0 does not support backslash line continuation in print statements."
[code]

[2022-08-05 19:06] Prakash2403 opened #257 "file_obj.read function requires number of bytes to be read as mandatory argument"
Example:

Executing
[code]
raises an error saying `error: missing argument 'sz'`. However, when the number of bytes to be read is passed explicitly, it works as expected
[code]

**Ideal Behaviour**

If nothing is passed, the whole file should be read and returned.

**Possible fix**
Assumption:  `internal/file.seq` handles all `file` operations (`read` in this case)

Need to make `sz` and Optional

[2022-08-24 10:13] dawnmy opened #258 "Is seq-lang still being maintained and updated?"
Thank you for design such an useful programming language for the biology world. It looks amazing. The repo seems to have not been updated for more than half a year. Was wondering if it is still being updated and maintained?

[2022-08-24 10:16] dawnmy opened #259 "Is seq-lang still being updated and maintained"
Thank you for design such an useful programming language for the biology world. It looks amazing. The repo seems to have no new commits for more than half a year. Was wondering if it is still being updated and maintained?

[2022-08-24 10:16] #258 closed, assigned to nobody

[2022-08-28 22:25] ghuls commented on #259
Seq-lang itself is quite unlikely to be updated. The technology behind Seq-lang though lives on as Codon: https://exaloop.io/

[2022-09-29 15:10] inumanag commented on #259
Hi @dawnmy

It is alive. We are currently working on the next major version. Once that is done, we will update the repository.

[2022-11-09 11:37] ghuls commented on #259
@inumanag Any rough timeframe (in a few weeks/months/half a year) for the next release?

The codon versions listed at: https://docs.exaloop.io/codon/general/releases seem private.

[2022-11-09 15:26] arshajii commented on #259
Hey @ghuls and everyone -- we're just putting the finishing touches on everything now. Should be 1-2 more weeks roughly; sorry it was so drawn out, we just had a long list of things we wanted to do before releasing :) (I'll give an update here once we release as well.)